<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Moreinfo Form">
    <meta name="keyword" content="apply healthcare travelers">
    <!-- Title -->
    <title>Moreinfo Form</title>
    <!-- Favicon -->
{#    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">#}
    <!--Bootstrap css-->
    <link rel="stylesheet" href="{{ 'https://app.healthcaretravelers.com/' ~ asset('landing/css/bootstrap.css') }}">
    <!--Font Awesome css-->
    <link rel="stylesheet" href="{{ 'https://app.healthcaretravelers.com/' ~ asset('landing/css/font-awesome.min.css') }}">
    <!--Magnific css-->
    <!--Owl-Carousel css-->
    <link rel="stylesheet" href="{{ 'https://app.healthcaretravelers.com/' ~ asset('landing/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ 'https://app.healthcaretravelers.com/' ~ asset('landing/css/owl.theme.default.min.css') }}">
    <!--Animate css-->
    <link rel="stylesheet" href="{{ 'https://app.healthcaretravelers.com/' ~ asset('landing/css/animate.min.css') }}">
    <!--Select2 css-->
    <!--Slicknav css-->
    <link rel="stylesheet" href="{{ 'https://app.healthcaretravelers.com/' ~ asset('landing/css/slicknav.min.css') }}">
    <!--Bootstrap-Datepicker css-->
    <!--Jquery UI css-->
    <!--Perfect-Scrollbar css-->
    <link rel="stylesheet" href="{{ 'https://app.healthcaretravelers.com/' ~ asset('landing/css/perfect-scrollbar.min.css') }}">
    <!--Site Main Style css-->
    <link rel="stylesheet" href="{{ 'https://app.healthcaretravelers.com/' ~ asset('landing/css/style.css') }}">
    <!--Responsive css-->
    <link rel="stylesheet" href="{{ 'https://app.healthcaretravelers.com/' ~ asset('landing/css/responsive.css') }}">

    {% block stylesheets %}{% endblock %}
</head>
<body>

<!-- Header Area Start -->
<header class="jobguru-header-area stick-top forsticky page-header">
    <div class="menu-animation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="site-logo">
                        <a href="/">
                            <img src="https://healthcaretravelers.com/images/logo.png" alt="jobguru" />
                        </a>
                    </div>
                    <!-- Responsive Menu Start -->
                    <div class="jobguru-responsive-menu"></div>
                    <!-- Responsive Menu Start -->
                </div>
                <div class="col-lg-7">
                    <div class="header-menu">
                        <nav id="navigation">
                            <ul id="jobguru_navigation">
                                <li class="active has-children">
                                    <a href="#">home</a>
                                    <ul>
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index-2.html">Home 2</a></li>
                                    </ul>
                                </li>
                                <li class=" has-children">
                                    <a href="#">for candidates</a>
                                    <ul>
                                        <li class="has-inner-child">
                                            <a href="#">browse jobs</a>
                                            <ul>
                                                <li><a href="browse-jobs.html">full page grid</a></li>
                                                <li><a href="job-grid-sidebar.html">grid sidebar</a></li>
                                                <li><a href="job-list-sidebar.html">list sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="browse-categories.html">Browse Categories</a></li>
                                        <li><a href="browse-companies.html">browse companies</a></li>
                                        <li><a href="single-candidates.html">candidates details</a></li>
                                        <li><a href="submit-resume.html">submit resume</a></li>
                                        <li class="has-inner-child">
                                            <a href="#">candidate dashboard</a>
                                            <ul>
                                                <li><a href="candidate-dashboard.html">Candidate dashboard</a></li>
                                                <li><a href="candidate-profile.html">Candidate profile</a></li>
                                                <li><a href="message.html">messages</a></li>
                                                <li><a href="manage-jobs.html">manage jobs</a></li>
                                                <li><a href="candidate-earnings.html">earnings</a></li>
                                                <li><a href="change-password.html">change password</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#">for employers</a>
                                    <ul>
                                        <li><a href="browse-candidates.html">Browse Candidates</a></li>
                                        <li><a href="single-company.html">company details</a></li>
                                        <li><a href="post-job.html">Post A job</a></li>
                                        <li class="has-inner-child">
                                            <a href="#">employer dashboard</a>
                                            <ul>
                                                <li><a href="employer-dashboard.html">employer dashboard</a></li>
                                                <li><a href="company-profile.html">company profile</a></li>
                                                <li><a href="message.html">messages</a></li>
                                                <li><a href="manage-candidates.html">manage candidates</a></li>
                                                <li><a href="transaction.html">transaction</a></li>
                                                <li><a href="change-password.html">change password</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#">pages</a>
                                    <ul>
                                        <li><a href="about.html">About us</a></li>
                                        <li class="has-inner-child">
                                            <a href="#">blog</a>
                                            <ul>
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="single-blog.html">single blog</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="job-page.html">job page</a></li>
                                        <li><a href="login.html">login</a></li>
                                        <li><a href="register.html">register</a></li>
                                        <li><a href="contact.html">contact us</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->


<!-- Breadcromb Area Start -->
<section class="jobguru-breadcromb-area">
    <div class="breadcromb-top section_50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-box">
                        <h3>Moreinfo Request</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->


<!-- Login Area Start -->
<section class="jobguru-login-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</section>
<!-- Login Area End -->


<!-- Footer Area Start -->
<footer class="jobguru-footer-area">
    <div class="footer-top section_50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <div class="footer-logo">
                            <a href="/">
                                <img src="https://hcensolutions.com/templates/Lite/assets/images/hcenlogo-white.png" alt="Healthcare Travelers Network" />
                            </a>
                        </div>
                        <p>It doesn't seem like it has been 10 years and as of today 100,468 Healthcare professional have utilize us to assist them in comparing, evaluating the best compensation packages. Its quick, free and a very valuable tool.</p>
                        <ul class="footer-social">
                            <li><a href="https://www.facebook.com/HealthCareTravelers/" class="fb"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCWcjdc2gIjG_f_kkmCSiVFg" class="youtube"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/healthcaretravelers" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h3>main links</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-double-right "></i> About jobguru</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right "></i> Delivery Information</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right "></i> Terms & Conditions</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right "></i> Customer support</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right "></i> Contact with an expert</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right "></i> community updates</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right "></i> upcoming updates</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget footer-contact">
                        <h3>Contact Info</h3>
                        <p><i class="fa fa-phone"></i> (855) 335-9924</p>
                        <p><i class="fa fa-envelope-o"></i> admin@healthcaretravelers.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-left">
                        <p>Copyright &copy; 2016 Healthcare Travelers Network</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->


<!--Jquery js-->
<script src="{{ asset('landing/js/jquery-3.0.0.min.js') }}"></script>
<!--Popper js-->
<!--Bootstrap js-->
<script src="{{ asset('landing/js/bootstrap.min.js') }}"></script>
<!--Bootstrap Datepicker js-->
<!--Perfect Scrollbar js-->
<script src="{{ asset('landing/js/jquery-perfect-scrollbar.min.js') }}"></script>
<!--Owl-Carousel js-->
<script src="{{ asset('landing/js/owl.carousel.min.js') }}"></script>
<!--SlickNav js-->
<script src="{{ asset('landing/js/jquery.slicknav.min.js') }}"></script>
<!--Magnific js-->
<!--Select2 js-->
<!--jquery-ui js-->
<!--Custom-Scrollbar js-->
<script src="{{ asset('landing/js/custom-scrollbar.js') }}"></script>
<!--Main js-->
<script src="{{ asset('landing/js/main.js') }}"></script>
{% block javascripts %}{% endblock %}



<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-P4662R"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-P4662R');</script>
<!-- End Google Tag Manager -->
<script type="text/javascript">
    adroll_adv_id = "T7TT2LGJNRGQLOS35PYC4X";
    adroll_pix_id = "VXPHQOY3Z5CDNGNDPEQ6E4";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username@example.com"; */
    (function () {
        var _onload = function () {
            if (document.readyState && !/loaded|complete/.test(document.readyState)) {
                setTimeout(_onload, 10);
                return
            }
            if (!window.__adroll_loaded) {
                __adroll_loaded = true;
                setTimeout(_onload, 50);
                return
            }
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {
            window.addEventListener('load', _onload, false);
        }
        else {
            window.attachEvent('onload', _onload)
        }
    }());

</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-60558016-3', 'auto');
    ga('send', 'pageview');

</script>
<!-- BEGIN ProvideSupport.com Visitor Monitoring Code -->
<div id="ciJp9P" style="z-index:100;position:absolute"></div>
<div id="sdJp9P" style="display:none"></div>
<script type="text/javascript">var seJp9P = document.createElement("script");
    seJp9P.type = "text/javascript";
    var seJp9Ps = (location.protocol.indexOf("https") == 0 ? "https" : "http") + "://image.providesupport.com/js/15r9xw4641sni0prwo7hurbkjy/safe-monitor.js?ps_h=Jp9P&ps_t=" + new Date().getTime();
    setTimeout("seJp9P.src=seJp9Ps;document.getElementById('sdJp9P').appendChild(seJp9P)", 1)</script>
<noscript>
<div style="display:inline">
    <a href="http://www.providesupport.com?monitor=15r9xw4641sni0prwo7hurbkjy"><img src="http://image.providesupport.com/image/15r9xw4641sni0prwo7hurbkjy.gif" style="border:0px" alt=""/></a>
</div>
</noscript>
</body>
</html>
