<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
	{% stylesheets
	'bundles/appformfrontend/css/*'
	'bundles/appformfrontend/font-awesome/css/*'
	filter='cssrewrite' %}
	<link type="text/css" rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/appformfrontend/css/bootstrap.css', absolute=true) }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/appformfrontend/css/stylish-portfolio.css', absolute=true) }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/appformfrontend/font-awesome/css/font-awesome.css', absolute=true) }}">


	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

{% include 'AppformFrontendBundle:Default:header.html.twig' %}
{% block content %}{% endblock %}
{% include 'AppformFrontendBundle:Default:footer.html.twig' %}


{% block javascripts %}
	<script>
		$(function () {
			$(".dateField").each(function () {
				$(this).attr("readonly", "readonly");
			});

			$('.dateField').datetimepicker({
				format: "Y-m-d",
				timepicker: false,
				datepicker: true
			});
		});
	</script>

<!-- Custom Theme JavaScript -->
	<script>
		// Closes the sidebar menu
		$("#menu-close").click(function (e) {
			e.preventDefault();
			$("#sidebar-wrapper").toggleClass("active");
		});

		// Opens the sidebar menu
		$("#menu-toggle").click(function (e) {
			e.preventDefault();
			$("#sidebar-wrapper").toggleClass("active");
		});

		// Scrolls to the selected menu item on the page
		$(function () {
			$('a[href*=#]:not([href=#])').click(function () {
				if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
					if (target.length) {
						$('html,body').animate({
							scrollTop: target.offset().top
						}, 1000);
						return false;
					}
				}
			});
		});
	</script>
{% endblock %}
</body>
</html>
