{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Stats\Invoicing</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Agecny_group</th>
                <td>{{ entity.agecnygroup }}</td>
            </tr>
            <tr>
                <th>Candidate_id</th>
                <td>{{ entity.candidateid }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Discipline</th>
                <td>{{ entity.discipline }}</td>
            </tr>
            <tr>
                <th>Specialty_primary</th>
                <td>{{ entity.specialtyprimary }}</td>
            </tr>
            <tr>
                <th>Sent_date</th>
                <td>{{ entity.sentdate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('stats_invoicing') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
