{% extends "AppformFrontendBundle::layout.html.twig" %}
{% form_theme form 'AppformFrontendBundle:Form:fields.html.twig' %}

{% block title %}Moreinfo Application Form{% endblock %}

{% block stylesheets %}
	{% stylesheets
	'@AppformFrontendBundle/Resources/public/form/css/*'
	%}
	<link type="text/css" rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{% javascripts
	'@AppformFrontendBundle/Resources/public/form/js/jquery.1.11.1.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/jquery.ui.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/jquery.validate.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/additional-methods.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/jquery.form.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/j-forms.js'
	'@AppformFrontendBundle/Resources/public/form/js/chosen.jquery.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/jquery.maskedinput.min.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<div class="wrapper wrapper-640">
		<form action="{{ url('appform_frontend_apply') }}" method="post" class="j-forms j-multistep" id="j-forms" {{ form_enctype(form) }} novalidate>
			{{ form_errors(form) }}
			<div class="header">
				<p>More Information Request Form</p>
				<h1>In a hurry, No time to complete our online application?</h1>
				<h3>Complete the form below for information about available assignments,</h3>
				<h3>compensation packages or general inquiry from the</h3>
				<h3>Nation's Top HCEN Network of Staffing Agencies</h3>
			</div>
			<div class="content">
				<div class="j-row">
					<div class="span6 step">
						<div class="steps">
							<span>Step 1:</span>
							<p>Personal info</p>
						</div>
					</div>
					<div class="span6 step">
						<div class="steps">
							<span>Step 2:</span>
							<p>Additional info</p>
						</div>
					</div>
				</div>
				<fieldset>
					<div class="divider gap-bottom-25"></div>
					<div class="j-row">
						<div class="span6 unit">
							<div class="input">
								<label class="icon-left" for="appform_frontendbundle_applicant[firstName]">
									<i class="fa fa-user"></i>
								</label>
								{{ form_widget(form.firstName, {'attr': {'placeholder': 'First Name'}}) }}
							</div>
						</div>
						<div class="span6 unit">
							<div class="input">
								<label class="icon-left" for="appform_frontendbundle_applicant[lastName]">
									<i class="fa fa-user"></i>
								</label>
								{{ form_widget(form.lastName, {'attr': {'placeholder': 'Last name'}}) }}
							</div>
						</div>
					</div>
					<div class="unit">
						<div class="input">
							<label class="icon-left" for="email">
								<i class="fa fa-envelope-o"></i>
							</label>
							{{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
						</div>
					</div>
					<div class="j-row">
						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-mobile"></i>
								</label>
								{{ form_widget(form.personalInformation.phone) }}
							</div>
						</div>
						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-user-md"></i>
								</label>
								{{ form_widget(form.personalInformation.discipline) }}
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<div class="divider gap-bottom-25"></div>

					<div class="j-row">
						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-map-marker"></i>
								</label>
								{{ form_widget(form.personalInformation.state) }}
							</div>
						</div>
						<div class="unit span6">
							<div class="input select">
								{{ form_widget(form.personalInformation.licenseState, {'attr': {'data-placeholder' : "License State"}}) }}
								<span class="tooltip tooltip-right-top">Select License State</span>
								<i></i>
							</div>
						</div>
					</div>
					<div class="j-row">
						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-check"></i>
								</label>
								{{ form_widget(form.personalInformation.isExperiencedTraveler) }}
							</div>
						</div>
					</div>
					<div class="divider gap-bottom-25"></div>
					<div class="j-row">

						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-graduation-cap"></i>
								</label>
								{{ form_widget(form.personalInformation.specialtyPrimary) }}
							</div>
						</div>

						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-stethoscope"></i>
								</label>
								{{ form_widget(form.personalInformation.yearsLicenceSp) }}
							</div>
						</div>
					</div>

					<div class="j-row">

						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-graduation-cap"></i>
								</label>
								{{ form_widget(form.personalInformation.specialtySecondary, {'attr': {'placeholder': 'Secondary Specialty'}}) }}
							</div>
						</div>

						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-stethoscope"></i>
								</label>
								{{ form_widget(form.personalInformation.yearsLicenceSs) }}
							</div>
						</div>

						<div class="unit span6">
							<div class="input select">
								{{ form_widget(form.personalInformation.desiredAssignementState, {'attr': {'data-placeholder' : "Destination State"}}) }}
								<span class="tooltip tooltip-right-top">Select Desired Assignment State</span>
								<i></i>
							</div>
						</div>
						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="last_name">
									<i class="fa fa-user"></i>
								</label>
								{{ form_widget(form.personalInformation.assignementTime) }}
							</div>
						</div>
					</div>

					<div class="j-row">
						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-medkit"></i>
								</label>
								{{ form_widget(form.personalInformation.isOnAssignement) }}
							</div>
						</div>
						<div class="span6 unit">
							<div class="input disabled-view">
								<label class="icon-right" for="appform_frontendbundle_applicant_personalInformation_completion">
									<i class="fa fa-calendar"></i>
								</label>
								{{ form_widget(form.personalInformation.completion, {'attr': {'placeholder': 'Date Of completion'}}) }}
							</div>
						</div>
					</div>

					<!-- start message -->
					<div class="unit">
						<div class="input">
							<label class="icon-left" for="message">
								<i class="fa fa-file-text-o"></i>
							</label>
							{{ form_widget(form.personalInformation.question, {'attr': {'placeholder': 'Additional info'}}) }}
							<span class="tooltip tooltip-right-top">Tell about yourself as detailed as possible</span>
						</div>
					</div>
					<div class="unit">
						<label class="input append-big-btn">
							<label class="icon-left" for="file_input">
								<i class="fa fa-download"></i>
							</label>
							<div class="file-button">
								Browse
								{{ form_widget(form.document, {'attr': {'onchange': "document.getElementById('file_input').value = this.value;"}}) }}
							</div>
							<input type="text" id="file_input" readonly="" placeholder="Upload resume">
							<span class="hint">Only: doc, docx, pdf</span>
						</label>
					</div>
					<!-- end message -->
					<!-- start response from server -->
					<div id="response"></div>
					<!-- end response from server -->
				</fieldset>
			</div>
			<!-- end /.content -->
			<div class="footer">
				<button type="submit" class="primary-btn multi-submit-btn">Send</button>
				<button type="button" class="primary-btn multi-next-btn">Next</button>
				<button type="button" class="secondary-btn multi-prev-btn">Back</button>
			</div>
			<!-- end /.footer -->
		</form>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			$('#j-forms')
					.find('#appform_frontendbundle_applicant_personalInformation_licenseState')
					.chosen({
						width: '100%'
					})
					.change(function(e) {
						$("#j-forms").validate().element("#appform_frontendbundle_applicant_personalInformation_licenseState");
					});

			$('#j-forms')
					.find('#appform_frontendbundle_applicant_personalInformation_desiredAssignementState')
					.chosen({
						width: '100%'
					})
					.change(function(e) {
						$("#j-forms").validate().element("#appform_frontendbundle_applicant_personalInformation_desiredAssignementState");
					});

			// Single date with icon
			$(function(){
				$("#appform_frontendbundle_applicant_personalInformation_completion").datepicker({
					dateFormat: 'mm/dd/yy',
					prevText: '<i class="fa fa-caret-left"></i>',
					nextText: '<i class="fa fa-caret-right"></i>'
				});
			});
			// Phone
			$("#appform_frontendbundle_applicant_personalInformation_phone").mask('(999)999-9999', {placeholder:'x'});

			if ($("#appform_frontendbundle_applicant_personalInformation_isOnAssignement").val() == '1') {
				$('#appform_frontendbundle_applicant_personalInformation_completion').removeAttr('disabled').parent().removeClass('disabled-view');
			}
			// Enabled input
			$('#appform_frontendbundle_applicant_personalInformation_isOnAssignement').on('change', function() {
				if ( this.value == '1') {
					$('#appform_frontendbundle_applicant_personalInformation_completion').attr('disabled', false).parent().removeClass('disabled-view error-view success-view');
				} else {
					$('#appform_frontendbundle_applicant_personalInformation_completion').attr('disabled', true).parent().addClass('disabled-view').removeClass('success-view error-view');
					if ( $('#enable-input-error').length ) {
						$('#enable-input-error').css('display', 'none');
					}
				};
			});

		});
	</script>
{% endblock %}
