{% extends "AppformFrontendBundle::base.html.twig" %}
{% form_theme form 'AppformFrontendBundle:Form:fields.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="text-center text-primary">HealthCareTravelers.com More Information Request</h4>
				<form id="moreinfo" action="{{ url('appform_frontend_widgetdata') }}" method="post" {{ form_enctype(form) }} data-toggle="validator" role="form">
					{{ form_errors(form) }}
					<div class="row">
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.firstName, {'attr': {'placeholder': '* First Name'}}) }}
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.lastName, {'attr': {'placeholder': '* Last Name'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.email, {'attr': {'placeholder': '* Email'}}) }}
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.state) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.phone, {'attr': {'placeholder': '* Phone'}}) }}
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.isExperiencedTraveler) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.discipline, {'attr': {'placeholder': 'Discipline'}}) }}

							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								<label id="licenseStateLabel" style="cursor: pointer;" class="btn btn-primary" for="">* Choose License State(s):</label>
								{{ form_widget(form.personalInformation.licenseState, {'attr': {'style': 'display: none;', 'class':'dropdown'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.specialtyPrimary, {'attr': {'placeholder': '* Primary Specialty'}}) }}

							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.yearsLicenceSp, {'attr': {'placeholder': 'Primary Specialty Experience'}}) }}

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.specialtySecondary, {'attr': {'placeholder': 'Secondary Specialty'}}) }}
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.yearsLicenceSs, {'attr': {'placeholder': 'Secondary Experience'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.isOnAssignement) }}

							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.completion,  {'attr': {'disabled': 'disabled', 'placeholder': 'If Yes - Completion date of assignment'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								<label id="desiredStateLabel" class="btn btn-primary" style="cursor: pointer;" for="">* Choose Desired Assignement State(s):</label>
									{{ form_widget(form.personalInformation.desiredAssignementState, {'attr': {'style': 'display: none;', 'class':'dropdown'}}) }}
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.assignementTime) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.question, {'attr': {'placeholder': 'Comments / Questions'}}) }}
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								<label class="control-label" for="">Resume file:</label>
								{{ form_widget(form.document) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								<label class="control-label" for="">
									<img id="sf-loading" style="display:none;" src="{{ url('appform_frontend_homepage') }}/widget/ajax-loader.gif" alt=""/>
								</label>
								<input id="submit" type="submit" class="btn btn-primary" value="Submit Information Request"/>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6"><div id="message"></div></div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function (e) {
			$(':checkbox').radiocheck();

			$(document).mouseup(function (e)
			{
				var label = $("#licenseStateLabel");
				var label2 = $("#desiredStateLabel");
				var container = $("#appform_frontendbundle_applicant_personalInformation_licenseState");
				var container2 = $("#appform_frontendbundle_applicant_personalInformation_desiredAssignementState");

				if (!container.is(e.target)
						&& container.has(e.target).length === 0
						&& !container2.is(e.target)
						&& container2.has(e.target).length === 0
						&& !label.is(e.target)
						&& label.has(e.target).length === 0
						&& !label2.is(e.target)
						&& label2.has(e.target).length === 0
				)
				{
					container.hide('slow');
					container2.hide('slow');
				}
			});

			$('#licenseStateLabel').click(function(event){
				$('#appform_frontendbundle_applicant_personalInformation_licenseState').toggle('slow', function(){});
			});
			$('#desiredStateLabel').click(function(event){
				$('#appform_frontendbundle_applicant_personalInformation_desiredAssignementState').toggle('slow', function(){});
			});

			$('#moreinfo').on('submit', function (e) {
				if (e.isDefaultPrevented()) {
					// handle the invalid form...
				} else {
					var formData = new FormData($("#moreinfo")[0]);
					$("#message").html('');
					$.ajax({
						type: "POST",
						url: "{{ url('appform_frontend_widgetdata') }}",
						data: formData,
						async: false,
						success: function (msg) {
							if (msg.error) {
								$.each(msg.error, function (i, item) {
									if (typeof item === 'object') {
										$.each(item, function (j, item2) {
											$("#message").append('<div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert">&times;</a>' + item2 + '</div>');
											$("#submit").attr('class', 'btn btn-danger');
										});
									} else {
										$("#message").append('<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert">&times;</a>' + item + '</div>');
										$("#submit").attr('class', 'btn btn-danger');
									}
								});
							}
							if (msg.success) {
								$("#message").append('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert">&times;</a>' + msg.success + '</div>');
								$("#submit").attr('class', 'btn btn-success');

							}

						},
						beforeSend: function () {
							$('#sf-loading').show();
						},
						complete: function () {
							$('#sf-loading').hide();

						},
						cache: false,
						contentType: false,
						processData: false
					});

					return false;
				}
			})

			$("#appform_frontendbundle_applicant_personalInformation_isOnAssignement").change(function () {
				if (this.value == '1') {
					$('#appform_frontendbundle_applicant_personalInformation_completion').removeAttr('disabled');

				} else {
					$('#appform_frontendbundle_applicant_personalInformation_completion').attr('disabled', 'disabled');
					$('#appform_frontendbundle_applicant_personalInformation_completion').val('');
				}
			});
			$(function () {
				$('.dateField').datetimepicker({
					format: "Y-m-d",
					timepicker: false,
					datepicker: true
				});
			});

			jQuery(function ($) {
				$("#appform_frontendbundle_applicant_personalInformation_phone").mask("(999) 999-9999");
			});
		});
	</script>
{% endblock %}