{% extends "AppformFrontendBundle::base.html.twig" %}
{% form_theme form 'AppformFrontendBundle:Form:fields.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block content %}
	<div id="iframeWrap" class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="intro" class="row text-center text-primary">
					<div class="col-md-12"><h6><strong>HealthCareTravelers.com's More Information Request</strong></h6></div>
					<div class="col-md-12"><strong>In a hurry, No time to complete our online application?</strong></div>
					<div class="col-md-12"><em class="text-center text-default">Complete the form below for information about available assignments,</em></div>
					<div class="col-md-12"><em class="text-center text-default">compensation packages or general inquiry from the</em></div>
					<div class="col-md-12"><em class="text-center text-default">Nation's Top HCEN Client Staffing Agencies</em></div>
				</div>
				<form id="moreinfo" action="{{ url('appform_frontend_widgetdata') }}" method="post" {{ form_enctype(form) }} data-toggle="validator" role="form">
					{{ form_errors(form) }}
					<div class="row">
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.firstName) }}
								{{ form_widget(form.firstName, {'attr': {'class': 'input-sm'}}) }}
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.lastName) }}
								{{ form_widget(form.lastName, {'attr': {'class': 'input-sm'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.email) }}
								{{ form_widget(form.email, {'attr': {'class': 'input-sm'}}) }}
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.personalInformation.phone) }}
								{{ form_widget(form.personalInformation.phone, {'attr': {'class': 'input-sm'}}) }}
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.personalInformation.state) }}
								{{ form_widget(form.personalInformation.state, {'attr': {'class': 'input-sm'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.personalInformation.discipline) }}
								{{ form_widget(form.personalInformation.discipline, {'attr': {'class': 'input-sm'}}) }}
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.personalInformation.isExperiencedTraveler) }}
								{{ form_widget(form.personalInformation.isExperiencedTraveler, {'attr': {'class': 'input-sm'}}) }}
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.personalInformation.licenseState) }}
								<div id="licenseStateLabel" class="label label-primary">Click to Expand</div>
								{{ form_widget(form.personalInformation.licenseState, {'attr': {'class': 'input-sm', 'placeholder' : 'Compact, AZ, FL, NC etc.'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.personalInformation.specialtyPrimary) }}
								{{ form_widget(form.personalInformation.specialtyPrimary, {'attr': {'class': 'input-sm'}}) }}
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.personalInformation.yearsLicenceSp) }}
								{{ form_widget(form.personalInformation.yearsLicenceSp, {'attr': {'class': 'input-sm'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.personalInformation.specialtySecondary) }}
								{{ form_widget(form.personalInformation.specialtySecondary, {'attr': {'class': 'input-sm'}}) }}
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.personalInformation.yearsLicenceSs) }}
								{{ form_widget(form.personalInformation.yearsLicenceSs, {'attr': {'class': 'input-sm'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.personalInformation.isOnAssignement) }}
								{{ form_widget(form.personalInformation.isOnAssignement, {'attr': {'class': 'input-sm'}}) }}

							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.personalInformation.completion) }}
								{{ form_widget(form.personalInformation.completion, {'attr': {'class': 'datefield input-sm'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.personalInformation.desiredAssignementState) }}
								<div id="desiredStateLabel" class="label label-primary">Click to Expand</div>
								{{ form_widget(form.personalInformation.desiredAssignementState, {'attr': {'class': 'input-sm', 'placeholder' : 'All States, AZ, FL, NC etc.'}}) }}
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.personalInformation.assignementTime) }}
								{{ form_widget(form.personalInformation.assignementTime, {'attr': {'class': 'input-sm'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<div class="form-group">
								{{ form_label(form.personalInformation.question) }}
								{{ form_widget(form.personalInformation.question, {'attr': {'class': 'input-sm'}}) }}
							</div>
						</div>
						<div class="col-xs-4">
							{{ form_label(form.document) }}
							{{ form_widget(form.document, {'attr': {'class': 'row'}}) }}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<div id="message"></div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								<label class="control-label" for="">
									<img id="sf-loading" style="display:none;" src="{{ url('appform_frontend_homepage') }}widget/ajax-loader.gif" alt=""/>
								</label>
								<input id="submit" type="submit" class="btn btn-primary" value="Submit Information Request"/>
							</div></div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function (e) {
			$(document).mouseup(function (e)
			{
				var label = $("#licenseStateLabel");
				var label2 = $("#desiredStateLabel");
				var container = $("#appform_frontendbundle_applicant_personalInformation_licenseState");
				var container2 = $("#appform_frontendbundle_applicant_personalInformation_desiredAssignementState");

				if (!container.is(e.target)
						&& container.has(e.target).length === 0
						&& !container2.is(e.target)
						&& container2.has(e.target).length === 0
						&& !label.is(e.target)
						&& label.has(e.target).length === 0
						&& !label2.is(e.target)
						&& label2.has(e.target).length === 0

				)
				{
					container.hide('slow');
					container2.hide('slow');
				}
			});

			$('#licenseStateLabel').click(function(event){
				$('#appform_frontendbundle_applicant_personalInformation_licenseState').toggle('slow', function(){});
			});
			$('#desiredStateLabel').click(function(event){
				$('#appform_frontendbundle_applicant_personalInformation_desiredAssignementState').toggle('slow', function(){});
			});

			$('#moreinfo').on('submit', function (e) {
				if (e.isDefaultPrevented()) {
					// handle the invalid form...
				} else {
					var formData = new FormData($("#moreinfo")[0]);
					$("#message").html('');
					$.ajax({
						type: "POST",
						url: "{{ url('appform_frontend_widgetdata') }}",
						data: formData,
						async: false,
						success: function (msg) {
							if (msg.error) {
								$.each(msg.error, function (i, item) {
									if (typeof item === 'object') {
										$.each(item, function (j, item2) {
											$("#message").append('<div class="alert alert-warning"> <a href="#" class="close" data-dismiss="alert">&times;</a>' + item2 + '</div>');
											$("#submit").attr('class', 'btn btn-danger');
										});
									} else {
										$("#message").append('<div class="alert alert-warning"><a href="#" class="close" data-dismiss="alert">&times;</a>' + item + '</div>');
										$("#submit").attr('class', 'btn btn-danger');
									}
								});
							}
							if (msg.success) {
								$("#message").append('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert">&times;</a>' + msg.success + '</div>');
								$("#submit").attr('class', 'btn btn-success');

							}

						},
						beforeSend: function () {
							$('#sf-loading').show();
						},
						complete: function () {
							$('#sf-loading').hide();

						},
						cache: false,
						contentType: false,
						processData: false
					});

					return false;
				}
			})

			$("#appform_frontendbundle_applicant_personalInformation_isOnAssignement").change(function () {
				if (this.value == '1') {
					$('#appform_frontendbundle_applicant_personalInformation_completion').removeAttr('disabled');

				} else {
					$('#appform_frontendbundle_applicant_personalInformation_completion').attr('disabled', 'disabled');
					$('#appform_frontendbundle_applicant_personalInformation_completion').val('');
				}
			});

			$(function () {
				$('#appform_frontendbundle_applicant_personalInformation_completion').datetimepicker({
					format: "Y-m-d",
					timepicker: false,
					datepicker: true
				});
			});

			jQuery(function ($) {
				$("#appform_frontendbundle_applicant_personalInformation_phone").mask("(999) 999-9999");
			});
		});
	</script>
{% endblock %}