{% extends "AppformFrontendBundle::base.html.twig" %}
{% form_theme form 'AppformFrontendBundle:Form:fields.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="intro" class="row text-center text-primary">
					<div class="col-md-12"><h6><strong>HealthCareTravelers.com's More Information Request</strong></h6></div>
					<div class="col-md-12"><strong>In a hurry, No time to complete our online application?</strong></div>
					<div class="col-md-12"><em class="text-center text-primary">Complete the form below for information about available assignments,</em></div>
					<div class="col-md-12"><em class="text-center text-primary">compensation packages or general inquiry from the</em></div>
					<div class="col-md-12"><em>Nation's Top HCEN Client Staffing Agencies</em></div>
				</div>
				<form id="moreinfo" action="{{ url('appform_frontend_widgetdata') }}" method="post" {{ form_enctype(form) }} data-toggle="validator" role="form">
					{{ form_errors(form) }}
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.firstName, {'attr': {'placeholder': '* First Name'}}) }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.lastName, {'attr': {'placeholder': '* Last Name'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.email, {'attr': {'placeholder': '* Email'}}) }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.state) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.phone, {'attr': {'placeholder': '* Phone'}}) }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.isExperiencedTraveler) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.discipline, {'attr': {'placeholder': 'Discipline'}}) }}

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.licenseState, {'attr': {'placeholder': 'Licensed State(s) (Ex: Compact, FL, AZ, etc.)'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.specialtyPrimary, {'attr': {'placeholder': '* Primary Specialty'}}) }}

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.yearsLicenceSp, {'attr': {'placeholder': 'Primary Specialty Experience'}}) }}

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.specialtySecondary, {'attr': {'placeholder': 'Secondary Specialty'}}) }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.yearsLicenceSs, {'attr': {'placeholder': 'Secondary Experience'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.isOnAssignement) }}

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.completion,  {'attr': {'disabled': 'disabled', 'placeholder': 'If Yes - Completion date of assignment'}}) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
									{{ form_widget(form.personalInformation.desiredAssignementState, {'attr': {'placeholder': 'Preferred Location: (Ex: All States, FL, AZ, etc)'}}) }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.assignementTime) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form_widget(form.personalInformation.question, {'attr': {'placeholder': 'Comments / Questions'}}) }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="">Resume file:</label>
								{{ form_widget(form.document) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="">
									<img id="sf-loading" style="display:none;" src="{{ url('appform_frontend_homepage') }}/widget/ajax-loader.gif" alt=""/>
								</label>
								<input id="submit" type="submit" class="btn btn-primary" value="Submit Information Request"/>
							</div>
						</div>
						<div class="col-md-6"><div id="message"></div></div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function (e) {
			var lst = {{ lstates|json_encode|raw }};
			var array = $.map(lst, function(value, index) {
				return [value];
			});

			var dast = {{ dastates|json_encode|raw }};
			var array2 = $.map(dast, function(value, index) {
				return [value];
			});

			$('#appform_frontendbundle_applicant_personalInformation_licenseState').tokenfield({
				autocomplete: {
					source: array,
					delay: 100
				}
			});

			$('#appform_frontendbundle_applicant_personalInformation_desiredAssignementState').tokenfield({
				autocomplete: {
					source: array2,
					delay: 100
				}
			});

			$('#moreinfo').on('submit', function (e) {
				if (e.isDefaultPrevented()) {
					// handle the invalid form...
				} else {
					var formData = new FormData($("#moreinfo")[0]);
					$("#message").html('');
					$.ajax({
						type: "POST",
						url: "{{ url('appform_frontend_widgetdata') }}",
						data: formData,
						async: false,
						success: function (msg) {
							if (msg.error) {
								$.each(msg.error, function (i, item) {
									if (typeof item === 'object') {
										$.each(item, function (j, item2) {
											$("#message").append('<div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert">&times;</a>' + item2 + '</div>');
											$("#submit").attr('class', 'btn btn-danger');
										});
									} else {
										$("#message").append('<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert">&times;</a>' + item + '</div>');
										$("#submit").attr('class', 'btn btn-danger');
									}
								});
							}
							if (msg.success) {
								$("#message").append('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert">&times;</a>' + msg.success + '</div>');
								$("#submit").attr('class', 'btn btn-success');

							}

						},
						beforeSend: function () {
							$('#sf-loading').show();
						},
						complete: function () {
							$('#sf-loading').hide();

						},
						cache: false,
						contentType: false,
						processData: false
					});

					return false;
				}
			})

			$("#appform_frontendbundle_applicant_personalInformation_isOnAssignement").change(function () {
				if (this.value == '1') {
					$('#appform_frontendbundle_applicant_personalInformation_completion').removeAttr('disabled');

				} else {
					$('#appform_frontendbundle_applicant_personalInformation_completion').attr('disabled', 'disabled');
					$('#appform_frontendbundle_applicant_personalInformation_completion').val('');
				}
			});
			$(function () {
				$('.dateField').datetimepicker({
					format: "Y-m-d",
					timepicker: false,
					datepicker: true
				});
			});

			jQuery(function ($) {
				$("#appform_frontendbundle_applicant_personalInformation_phone").mask("(999) 999-9999");
			});
		});
	</script>
	<!-- BEGIN ProvideSupport.com Visitor Monitoring Code -->
	<div id="cibrY9" style="z-index:100;position:absolute"></div><div id="sdbrY9" style="display:none"></div><script type="text/javascript">var sebrY9=document.createElement("script");sebrY9.type="text/javascript";var sebrY9s=(location.protocol.indexOf("https")==0?"https":"http")+"://image.providesupport.com/js/15r9xw4641sni0prwo7hurbkjy/safe-monitor.js?ps_h=brY9&ps_t="+new Date().getTime();setTimeout("sebrY9.src=sebrY9s;document.getElementById('sdbrY9').appendChild(sebrY9)",1)</script><noscript><div style="display:inline"><a href="http://www.providesupport.com?monitor=15r9xw4641sni0prwo7hurbkjy"><img src="http://image.providesupport.com/image/15r9xw4641sni0prwo7hurbkjy.gif" style="border:0px" alt=""/></a></div></noscript>
	<!-- END ProvideSupport.com Visitor Monitoring Code -->

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-60558016-3', 'auto');
		ga('send', 'pageview');

	</script>
{% endblock %}