{% extends "AppformFrontendBundle::base.html.twig" %}
{% block content %}
	{% form_theme form 'AppformFrontendBundle:Form:fields.html.twig' %}

	<form action="{{ path('appform_frontend_homepage') }}" method="post" {{ form_enctype(form) }}>
		{{ form_row(form._token) }}
		<!-- About -->
		<section id="applicatoinForm" class="about">
			<div class="container">
				<div class="row">
					{% for flashMessage in app.session.flashbag.get('success') %}
						<div class="alert alert-warning>{{ flashMessage }}</div>
					{% endfor %}

					{% for flashMessage in app.session.flashbag.get('error') %}
						<div class="alert alert-danger">{{ flashMessage }}</div>
					{% endfor %}
					<div class="col-md-12">
						{{ form_errors(form) }}
						<div class="row">
							<div class="col-md-4">{{ form_row(form.firstName) }}</div>
							<div class="col-md-4">{{ form_row(form.middleName) }}</div>
							<div class="col-md-4">{{ form_row(form.lastName) }}</div>
						</div>
						<div class="row">
							<div class="col-md-4">{{ form_row(form.email) }}</div>
							<div class="col-md-4">{{ form_row(form.personalInformation.phone) }}</div>
							<div class="col-md-4">{{ form_row(form.personalInformation.state) }}</div>
						</div>
						<div class="row">
							<div class="col-md-4">{{ form_row(form.personalInformation.discipline) }}</div>
							<div class="col-md-8">{{ form_row(form.personalInformation.licenseState) }}</div>
						</div>
						<div class="row">
							<div class="col-md-4">{{ form_row(form.personalInformation.specialtyPrimary) }}</div>
							<div class="col-md-4">{{ form_row(form.personalInformation.yearsLicenceSp) }}</div>
							<div class="col-md-4">{{ form_row(form.personalInformation.specialtySecondary) }}</div>
						</div>
						<div class="row">
							<div class="col-md-4">{{ form_row(form.personalInformation.yearsLicenceSs) }}</div>
							<div class="col-md-4">{{ form_row(form.personalInformation.desiredAssignementState) }}</div>
							<div class="col-md-4">{{ form_row(form.personalInformation.assignementTime) }}</div>
						</div>
						<div class="row">
							<div class="col-md-4">{{ form_row(form.personalInformation.isExperiencedTraveler) }}{{ form_row(form.personalInformation.isOnAssignement) }}</div>
							<div class="col-md-4">{{ form_row(form.personalInformation.question) }}</div>
							<div class="col-md-4">{{ form_row(form.document) }}</div>
						</div>
						<div class="row">
							<div class="col-md-4"><input class="btn btn-success" type="submit" /></div>
						</div>
				</div>
			</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>

	</form>

{% endblock %}