{% extends "AppformFrontendBundle::mobile.html.twig" %}
{% form_theme form 'AppformFrontendBundle:Form:fields.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block content %}

	<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Healthcaretravelers More info Request</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="top-navbar-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
							<span class="li-text">
								Contact us
							</span>
								<span class="li-social">
								<a href="https://www.facebook.com/travelrn"><i class="fa fa-facebook"></i></a>
								<a href="mailto:Admin@HealthCareTravelers.com"><i class="fa fa-envelope"></i></a>
								<a href="skype:hctraveler?call"><i class="fa fa-skype"></i></a>
							</span>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Top content -->
	<div class="top-content">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 form-box">
						<div class="form-top">
							<div class="form-top-left">
								<img class="img img-thumbnail" src="{{ asset('bundles/appformfrontend/mobile/img/mobile_logo.png') }}" alt="logo"/>
							</div>
							<div class="form-top-right">
								<i class="fa fa-pencil"></i>
							</div>
						</div>
						<div class="form-bottom">
							{% for message in app.session.flashbag.get('error') %}
								<div class="alert alert-danger alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert">
										<span aria-hidden="true">&times;</span>
										<span class="sr-only">Close</span>
									</button>
									<p>{{ message }}</p>
								</div>
							{% endfor %}

							{% for message in app.session.flashbag.get('success') %}
								<div class="alert alert-success alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert">
										<span aria-hidden="true">&times;</span>
										<span class="sr-only">Close</span>
									</button>
									<p>{{ message }}</p>
								</div>
							{% endfor %}
							<form id="moreinfo" class="registration-form" action="{{ url('appform_frontend_homepage') }}" method="post" {{ form_enctype(form) }} data-toggle="validator" role="form">
								<div id="message">
									{{ form_errors(form) }}
								</div>
								<div class="form-group">
									{{ form_widget(form.firstName, {'attr': {'placeholder': '* First Name'}}) }}
									{{ form_errors(form.firstName) }}
								</div>
								<div class="form-group">
									{{ form_widget(form.lastName, {'attr': {'placeholder': '* Last Name'}}) }}
									{{ form_errors(form.lastName) }}
								</div>
								<div class="form-group">
									{{ form_widget(form.email, {'attr': {'placeholder': '* Email'}}) }}
									{{ form_errors(form.email) }}
								</div>
								<div class="form-group">
									{{ form_widget(form.personalInformation.state, {'placeholder': '* Home State'}) }}
									{{ form_errors(form.personalInformation.state) }}
								</div>
								<div class="form-group">
									{{ form_widget(form.personalInformation.phone, {'attr': {'placeholder': '* Phone'}}) }}
									{{ form_errors(form.personalInformation.phone) }}
								</div>
								<div class="form-group">
									{{ form_widget(form.personalInformation.isExperiencedTraveler, {'placeholder': '* Are you an experienced Traveler?'}) }}
									{{ form_errors(form.personalInformation.isExperiencedTraveler) }}
								</div>
								<div class="form-group">
									{{ form_widget(form.personalInformation.discipline, {'placeholder': '* Discipline / Professional License'}) }}
									{{ form_errors(form.personalInformation.discipline) }}
								</div>
								<div class="form-group">
									<fieldset><legend for="">{{ form_label(form.personalInformation.licenseState) }}</legend>
										{{ form_widget(form.personalInformation.licenseState) }}
										{{ form_errors(form.personalInformation.licenseState) }}
									</fieldset>
								</div>
								<div class="form-group">
									{{ form_widget(form.personalInformation.specialtyPrimary, {'placeholder': '* Specialty - Primary'}) }}
									{{ form_errors(form.personalInformation.specialtyPrimary) }}
								</div>
								<div class="form-group">
									{{ form_widget(form.personalInformation.yearsLicenceSp, {'placeholder': '* Primary specialty experience'}) }}
									{{ form_errors(form.personalInformation.yearsLicenceSp) }}
								</div>
								<div class="form-group">
									{{ form_widget(form.personalInformation.specialtySecondary, {'placeholder': 'Specialty - Secondary(Optional)'}) }}
									{{ form_errors(form.personalInformation.specialtySecondary) }}
								</div>
								<div class="form-group">
									{{ form_widget(form.personalInformation.yearsLicenceSs, {'placeholder': 'Secondary specialty experience'}) }}
									{{ form_errors(form.personalInformation.yearsLicenceSs) }}
								</div>
								<div class="form-group">
									{{ form_widget(form.personalInformation.isOnAssignement, {'placeholder': '* On Assignment?'}) }}
									{{ form_errors(form.personalInformation.isOnAssignement) }}
								</div>
								<div class="form-group">
									<fieldset><legend for="">{{ form_label(form.personalInformation.completion) }}</legend>
										{{ form_widget(form.personalInformation.completion, {'attr': {'placeholder': 'yyyy-MM-dd'}}) }}
										{{ form_errors(form.personalInformation.completion) }}
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset><legend for="">{{ form_label(form.personalInformation.desiredAssignementState) }}</legend>
										{{ form_widget(form.personalInformation.desiredAssignementState) }}
										{{ form_errors(form.personalInformation.desiredAssignementState) }}
									</fieldset>
								</div>
								<div class="form-group">
									{{ form_widget(form.personalInformation.assignementTime, {'placeholder': '* Assignment availability'}) }}
									{{ form_errors(form.personalInformation.assignementTime) }}
								</div>
								<div class="form-group">
									{{ form_widget(form.personalInformation.question, {'attr': {'placeholder': 'Question'}}) }}
									{{ form_errors(form.personalInformation.question) }}
								</div>
								<fieldset><legend for="">{{ form_label(form.document) }}</legend>
									{{ form_widget(form.document, {'attr': {'placeholder': 'Optional upload your resume/cv'}}) }}
									{{ form_errors(form.document) }}
								</fieldset>

								<div class="form-group">
									<label class="control-label" for="">
										<img id="sf-loading" style="display:none;" src="{{ url('appform_frontend_homepage') }}widget/ajax-loader.gif" alt=""/>
									</label>
									<input id="submit" type="submit" class="btn btn-lg col-sm-12 btn-primary" value="Submit Information Request"/>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
	$(document).ready(function (e) {

		$("#appform_frontendbundle_applicant_personalInformation_isOnAssignement").change(function () {
				if (this.value == '1') {
					$('#appform_frontendbundle_applicant_personalInformation_completion').removeAttr('disabled');

				} else {
					$('#appform_frontendbundle_applicant_personalInformation_completion').attr('disabled', 'disabled');
					$('#appform_frontendbundle_applicant_personalInformation_completion').val('');
				}
			});

		if ($("#appform_frontendbundle_applicant_personalInformation_isOnAssignement").val() == 1 && $('#appform_frontendbundle_applicant_personalInformation_completion').val() != '') {
			$('#appform_frontendbundle_applicant_personalInformation_completion').removeAttr('disabled');
		} else {
			$('#appform_frontendbundle_applicant_personalInformation_completion').attr('disabled', 'disabled');
		}
/*			$(function () {
				$('.dateField').datetimepicker({
					format: "Y-m-d",
					timepicker: false,
					datepicker: true
				});
			});*/
			jQuery(function ($) {
				$("#appform_frontendbundle_applicant_personalInformation_phone").mask("(999) 999-9999");
			});
		});
	</script>
	<!-- BEGIN ProvideSupport.com Visitor Monitoring Code -->
	<div id="cibrY9" style="z-index:100;position:absolute"></div>
	<div id="sdbrY9" style="display:none"></div>
	<script type="text/javascript">var sebrY9 = document.createElement("script");
		sebrY9.type = "text/javascript";
		var sebrY9s = (location.protocol.indexOf("https") == 0 ? "https" : "http") + "://image.providesupport.com/js/15r9xw4641sni0prwo7hurbkjy/safe-monitor.js?ps_h=brY9&ps_t=" + new Date().getTime();
		setTimeout("sebrY9.src=sebrY9s;document.getElementById('sdbrY9').appendChild(sebrY9)", 1)</script>
	<noscript>
		<div style="display:inline"><a href="http://www.providesupport.com?monitor=15r9xw4641sni0prwo7hurbkjy"><img
						src="http://image.providesupport.com/image/15r9xw4641sni0prwo7hurbkjy.gif" style="border:0px" alt=""/></a></div>
	</noscript>
	<!-- END ProvideSupport.com Visitor Monitoring Code -->

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
					m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-60558016-3', 'auto');
		ga('send', 'pageview');

	</script>
{% endblock %}