{% extends "AppformFrontendBundle::layout.html.twig" %}
{% form_theme form 'AppformFrontendBundle:Form:fields.html.twig' %}

{% block title %}Moreinfo Application Form{% endblock %}

{% block stylesheets %}
	<link type="text/css" rel="stylesheet" href="{{ asset('form/css/chosen.min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('form/css/font-awesome.min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('form/css/j-forms.css') }}">

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-60558016-3', 'auto');
		ga('send', 'pageview');

	</script>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('form/js/jquery.1.11.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('form/js/jquery.ui.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('form/js/jquery.validate.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('form/js/additional-methods.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('form/js/jquery.form.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('form/js/j-forms.js') }}"></script>
	<script type="text/javascript" src="{{ asset('form/js/chosen.jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('form/js/jquery.maskedinput.min.js') }}"></script>
{% endblock %}

{% block content %}
	<style>
		.wrapper-640 {
			font-family: Arial;
			font-size: 10px; !important;

		}
		.wrapper-640 p {
			margin: 15px 0;
		}
	</style>
	<div class="wrapper wrapper-640">
		<h1 style="font-size: 16pt; color: #012056; text-align: center;">HealthCareTravelers.com</h1>
		<p style="margin-bottom: 0.0001pt; line-height: normal; text-align: center;">
			<span style="font-size: 10pt; color: #012056;">
				The owners / developers of this site, spent decades as “Travelers”, and past owners of a staffing agency. <br>
				A unique, impartial and knowledgeable site designed for healthcare professionals interested in <br>
				researching the best compensation / benefits packages available from the nation’s top staffing agencies
			</span>
		</p>
		<p style="margin-bottom: 0.0001pt; line-height: normal; text-align: center;">
			<span style="font-size: 10pt; color: #012056;">
				Utilized by 49,431 Healthcare Professionals
			</span>
		</p>
		<p style="font-size: 11pt; color: #012056; text-align: center; font-style: italic;">
			<strong>
				Tired of always being asked to complete a lengthy application?
			</strong>
		</p>

		<p style="margin-bottom: 0.0001pt; line-height: normal; text-align: center; margin: 0px;">
			<span style="font-size: 9pt; color: #012056;">
				We can appreciate that, we have been in your shoes.  <br>
				Get the information you need to make informed decisions <br>
				with one free, quick & short <br>
				"More Information Request"
			</span>
		</p>

		<p style="font-size: 10pt; color: #ad1102; text-align: center;">
			<strong>
				Who is offering the best compensation for the same job? <br>
				Is there better job opportunity that you are unaware of that offers you a better package?
			</strong>
		</p>

		<br>

		<form action="{{ url('appform_frontend_apply') }}" method="post" class="j-forms j-multistep" id="j-forms" {{ form_enctype(form) }} novalidate>
			{{ form_errors(form) }}
			{{ form_widget(form.appOrigin) }}
			<div class="header">
				<h1>More Information Request</h1>
			</div>
			<div class="content">
				<div id="response"></div>

				<div class="j-row" style="display:none;">
					<div class="span4 step">
						<div class="steps">
							<p>Personal info</p>
						</div>
					</div>
					<div class="span4 step">
						<div class="steps">
							<p>Additional info</p>
						</div>
					</div>
					<div class="span4 step">
						<div class="steps">
							<p>Info Request</p>
						</div>
					</div>
				</div>
				<fieldset>
					<div class="j-row">
						<div class="span6 unit">
							<div class="input">
								<label class="icon-left" for="appform_frontendbundle_applicant[firstName]">
									<i class="fa fa-user"></i>
								</label>
								{{ form_widget(form.firstName) }}
							</div>
						</div>
						<div class="span6 unit">
							<div class="input">
								<label class="icon-left" for="appform_frontendbundle_applicant[lastName]">
									<i class="fa fa-user"></i>
								</label>
								{{ form_widget(form.lastName) }}
							</div>
						</div>
					</div>
					<div class="j-row">
						<div class="span6 unit">
							<div class="input">
								<label class="icon-left" for="email">
									<i class="fa fa-envelope-o"></i>
								</label>
								{{ form_widget(form.email) }}
							</div>
						</div>
						<div class="unit span6">
						<div class="input">
							<label class="icon-left" for="subject">
								<i class="fa fa-mobile"></i>
							</label>
							{{ form_widget(form.personalInformation.phone) }}
						</div>
					</div>
					</div>
					<div class="j-row">
						<div class="unit span6">
							<div class="input">
								<label class="icon-left" for="subject">
									<i class="fa fa-map-marker"></i>
								</label>
								{{ form_widget(form.personalInformation.state) }}
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<div class="j-row">
						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-user-md"></i>
								</label>
								{{ form_widget(form.personalInformation.discipline) }}
							</div>
						</div>
						<div class="unit span6">
							<div class="input select">
								{{ form_widget(form.personalInformation.licenseState, {'attr': {'data-placeholder' : "* License State(s)"}}) }}
								<span class="tooltip tooltip-right-top">Select License State(s)</span>
								<i></i>
							</div>
						</div>
					</div>
					<div class="j-row">
						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-graduation-cap"></i>
								</label>
								{{ form_widget(form.personalInformation.specialtyPrimary) }}
							</div>
						</div>
						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-stethoscope"></i>
								</label>
								{{ form_widget(form.personalInformation.yearsLicenceSp) }}
							</div>
						</div>
					</div>
					<div class="j-row">
						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-graduation-cap"></i>
								</label>
								{{ form_widget(form.personalInformation.specialtySecondary, {'attr': {'placeholder': 'Secondary Specialty'}}) }}
							</div>
						</div>
						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-stethoscope"></i>
								</label>
								{{ form_widget(form.personalInformation.yearsLicenceSs) }}
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<div class="j-row">
						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-check"></i>
								</label>
								{{ form_widget(form.personalInformation.isExperiencedTraveler) }}
							</div>
						</div>
						<div class="unit span6">
							<div class="input select">
								{{ form_widget(form.personalInformation.desiredAssignementState, {'attr': {'data-placeholder' : "* Destination State(s)"}}) }}
								<span class="tooltip tooltip-right-top">Select Desired Assignment State(s)</span>
								<i></i>
							</div>
						</div>
					</div>
					<div class="j-row">
						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="subject">
									<i class="fa fa-medkit"></i>
								</label>
								{{ form_widget(form.personalInformation.isOnAssignement) }}
							</div>
						</div>
						<div class="span6 unit">
							<div class="input disabled-view">
								<label class="icon-right" for="appform_frontendbundle_applicant_personalInformation_completion">
									<i class="fa fa-calendar"></i>
								</label>
								{{ form_widget(form.personalInformation.completion, {'attr': {'placeholder': 'Completion Date'}}) }}
							</div>
						</div>
					</div>
					<div class="j-row">
						<div class="unit span6">
							<div class="input">
								<label class="icon-right" for="last_name">
									<i class="fa fa-user"></i>
								</label>
								{{ form_widget(form.personalInformation.assignementTime) }}
							</div>
						</div>
						<div class="span6 unit">
							<label class="input append-big-btn">
								<label class="icon-left" for="file_input">
									<i class="fa fa-download"></i>
								</label>
								<div class="file-button">
									Browse
									{{ form_widget(form.document) }}
								</div>
								<input type="text" id="file_input" readonly="" placeholder="Resume/CV">
								<span class="hint">(Optional) Only: doc, docx, pdf</span>
								<script>
									$('#appform_frontendbundle_applicant_document_file').change(function() {
										$('#file_input').val(this.value);
									});
								</script>
							</label>
						</div>
					</div>
				</fieldset>
			</div>
			<!-- end /.content -->
			<div class="footer">
				<div class="j-row">
					<button type="submit" class="primary-btn multi-submit-btn">Send</button>
					<button type="button" class="primary-btn multi-next-btn">Next</button>
					<button type="button" class="secondary-btn multi-prev-btn">Back</button>
					<img style="width: 25%;" src="https://healthcaretravelers.com/images/seal.png" alt="">
					<p style="font-size: 12px; color: #CC2127; "><span id="counterPlace">{{ usersOnline }}</span> Form Visitors Online</p>
				</div>
			</div>
			<input type="hidden" name="formToken" value="{{ formToken }}">
			<!-- end /.footer -->
		</form>
	</div>

	<!-- BEGIN ProvideSupport.com Visitor Monitoring Code -->
	<div id="ciJp9P" style="z-index:100;position:absolute"></div><div id="sdJp9P" style="display:none"></div><script type="text/javascript">var seJp9P=document.createElement("script");seJp9P.type="text/javascript";var seJp9Ps=(location.protocol.indexOf("https")==0?"https":"http")+"://image.providesupport.com/js/15r9xw4641sni0prwo7hurbkjy/safe-monitor.js?ps_h=Jp9P&ps_t="+new Date().getTime();setTimeout("seJp9P.src=seJp9Ps;document.getElementById('sdJp9P').appendChild(seJp9P)",1)</script><noscript><div style="display:inline"><a href="http://www.providesupport.com?monitor=15r9xw4641sni0prwo7hurbkjy"><img src="http://image.providesupport.com/image/15r9xw4641sni0prwo7hurbkjy.gif" style="border:0px" alt=""/></a></div></noscript>
	<!-- END ProvideSupport.com Visitor Monitoring Code -->

	<script>
		function updateCounter()
		{
			var page_title = window.document.title;
			var page_url = window.location.href;
			var xmlhttp = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');

			xmlhttp.onreadystatechange = function ()
			{
				if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
				{
					document.querySelector('#counterPlace').innerText = xmlhttp.responseText;
				}
			};

			xmlhttp.open('POST','/counter', true);
			xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xmlhttp.send('page_title=' + encodeURIComponent(page_title) + '&' + 'page_url=' + encodeURIComponent(page_url));
			setTimeout(updateCounter, 15000);
		}
		updateCounter();

	</script>

	<script type="text/javascript">

		var isMobile = {
			Android: function() {
				return navigator.userAgent.match(/Android/i);
			},
			BlackBerry: function() {
				return navigator.userAgent.match(/BlackBerry/i);
			},
			iOS: function() {
				return navigator.userAgent.match(/iPhone|iPad|iPod/i);
			},
			Opera: function() {
				return navigator.userAgent.match(/Opera Mini/i);
			},
			Windows: function() {
				return navigator.userAgent.match(/IEMobile/i);
			},
			any: function() {
				return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
			}
		};

		$(document).ready(function(){
			$.validator.addMethod("regx", function(value, element, regexpr) {
				return regexpr.test(value);
			}, "1+(800,855,888,900) are not supported phone formats");

			$( "#appform_frontendbundle_applicant_personalInformation_phone").rules( "add", {
				regx: /^([1+]{2})\s{1}((?!800|855|888|900)\d{3})\s{1}(\d{3})\s{1}(\d{4})$/
			});

			$('#appform_frontendbundle_applicant_personalInformation_licenseState option[value=0]').attr('disabled', 'disabled').attr('hidden', 'hidden');
			$('#appform_frontendbundle_applicant_personalInformation_desiredAssignementState option[value=0]').attr('disabled', 'disabled').attr('hidden', 'hidden');

			if( isMobile.any() ) {
				$("#appform_frontendbundle_applicant_appOrigin").val("mobile");
				$('#appform_frontendbundle_applicant_personalInformation_licenseState option[value=0]').attr('selected', 'selected');
				$('#appform_frontendbundle_applicant_personalInformation_desiredAssignementState option[value=0]').attr('selected', 'selected');
			}
			$('#j-forms')
					.find('#appform_frontendbundle_applicant_personalInformation_licenseState')
					.chosen({
						width: '100%'
					})
					.change(function(e) {
						$("#j-forms").validate().element("#appform_frontendbundle_applicant_personalInformation_licenseState");
					});

			$('#j-forms')
					.find('#appform_frontendbundle_applicant_personalInformation_desiredAssignementState')
					.chosen({
						width: '100%'
					})
					.change(function(e) {
						$("#j-forms").validate().element("#appform_frontendbundle_applicant_personalInformation_desiredAssignementState");
					});

			// Single date with icon
			$(function() {
				// Test if this is a mobile device
				if (typeof $.browser == 'undefined') {
					$.browser = {};
				}
				$.browser.device = (/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(navigator.userAgent.toLowerCase()));
				if ($.browser.device) {
					$('#appform_frontendbundle_applicant_personalInformation_completion').attr('type', 'date');
				} else {
					// Datepicker for arrival date on filters
					var dp = $('#appform_frontendbundle_applicant_personalInformation_completion').datepicker(
							{
								minDate: 0,
								dateFormat: 'yy-mm-dd',
								prevText: '<i class="fa fa-caret-left"></i>',
								nextText: '<i class="fa fa-caret-right"></i>'
							}
					)
					dp.on('changeDate', function(e) {
						dp.datepicker('hide');
					});
				}
			});

			$.mask.definitions['2']="[2-9]";
			$("#appform_frontendbundle_applicant_personalInformation_phone").mask('1+ 299 999 9999', {placeholder:'x'});

			if ($("#appform_frontendbundle_applicant_personalInformation_isOnAssignement").val() == '1') {
				$('#appform_frontendbundle_applicant_personalInformation_completion').removeAttr('disabled').parent().removeClass('disabled-view');
			}
			// Enabled input
			$('#appform_frontendbundle_applicant_personalInformation_isOnAssignement').on('change', function() {
				if ( this.value == '1') {
					$('#appform_frontendbundle_applicant_personalInformation_completion').attr('disabled', false).parent().removeClass('disabled-view error-view success-view');
				} else {
					$('#appform_frontendbundle_applicant_personalInformation_completion').attr('disabled', true).parent().addClass('disabled-view').removeClass('success-view error-view');
					if ( $('#enable-input-error').length ) {
						$('#enable-input-error').css('display', 'none');
					}
				};
			});
			$('input.default').css('width', '100%');
		});
	</script>
{% endblock %}
