{% extends "AppformFrontendBundle::report.html.twig" %}

{% block content %}

	<!-- Header -->
	<header id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-4 header">
				</div>
				<div class="col-md-5">
					<h3><a href="http://www.healthcaretravelers.com">HealthCareTravelers.com</a> (855) 3355-9924</h3>
					<h4><a href="http://www.healthcaretravelers.com/profile-service">HCEN Staffing Agency Section</a></h4>
					<h4><a href="http://www.healthcaretravelers.com/jobboard">HCEN Travel Assignment Job Board</a></h4>
					<h4>You have received another Healthcare Professional requesting more information</h4>
				</div>
			</div>
		</div>

	</header>
	<section id="applicatoinForm">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped">
						<tr>
							<td>Candidate ID:</td>
							<td>{{ candidateId }}</td>
						</tr>
						<tr>
							<td>First Name:</td>
							<td>{{ firstName }}</td>
						</tr>
						<tr>
							<td>Last Name:</td>
							<td>{{ lastName }}</td>
						</tr>
						<tr>
							<td>Email Address:</td>
							<td>{{ email }}</td>
						</tr>
						<tr>
							<td>Phone Number:</td>
							<td>{{ phone }}</td>
						</tr>
						<tr>
							<td>Home State:</td>
							<td>{{ state }}</td>
						</tr>
						<tr>
							<td>Discipline:</td>
							<td>{{ discipline }}</td>
						</tr>
						<tr>
							<td>License Certification State(s):</td>
							<td>{{ licenseState }}</td>
						</tr>
						<tr>
							<td>Primary Specialty:</td>
							<td>{{ specialtyPrimary }}</td>
						</tr>
						<tr>
							<td>Primary Specialty experience:</td>
							<td>{{ yearsLicenceSp }}</td>
						</tr>
						<tr>
							<td>Secondary Specialty:</td>
							<td>{{ specialtySecondary }}</td>
						</tr>
						<tr>
							<td>Secondary Specialty experience:</td>
							<td>{{ yearsLicenceSs }}</td>
						</tr>
						<tr>
							<td>Desired Assignement State(s):</td>
							<td>{{ desiredAssignementState }}</td>
						</tr>

						<tr>
							<td>Are you expereinced Traveler?</td>
							<td>
								{% if isExperiencedTraveler == 'Yes' %}
									<span style="color: darkred">{{ isExperiencedTraveler }}</span>
								{% else %}
									{{ isExperiencedTraveler }}
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>Are you presently on assignment?</td>
							<td>
								{% if isOnAssignement == 'Yes' %}
									<span style="color: darkred">{{ isOnAssignement }}</span>
								{% else %}
									{{ isOnAssignement }}
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>If "Yes" completion date:</td>
							<td>{{ completion }}</td>
						</tr>
						<tr>
							<td>When would you like to start an assignment?</td>
							<td>{{ assignementTime }}</td>
						</tr>
						<tr>
							<td>Resume/CV attached:</td>
							<td>
								{% if document == 'Yes' %}
									<span style="color: darkred">{{ document }}</span>
								{% else %}
									{{ document }}
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>Candidate question/comments:</td>
							<td>{{ question }}</td>
						</tr>
					</table>

				</div>
			</div>
		</div>
	</section>
{% endblock %}