{% extends "AppformFrontendBundle::layout.html.twig" %}
{% block title %}Moreinfo Application Form{% endblock %}

{% block stylesheets %}
	<link type="text/css" rel="stylesheet" href="{{ asset('form/css/chosen.min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('form/css/font-awesome.min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('form/css/j-forms.css') }}">
{% endblock %}

{% block javascripts %}
	{% javascripts
	'@AppformFrontendBundle/Resources/public/form/js/jquery.1.11.1.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/jquery.ui.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/jquery.validate.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/additional-methods.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/jquery.form.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/j-forms-3.js'
	'@AppformFrontendBundle/Resources/public/form/js/chosen.jquery.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/jquery.maskedinput.min.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<div class="wrapper wrapper-640">
		<form method="post" class="j-forms j-multistep" id="j-forms" novalidate>
			<div class="header">
				<h1>More Information Request</h1>

				<h3>HCEN’s Client Network of Nationwide Staffing Agencies</h3>
			</div>
			<div class="content">
				<div class="success-message unit"><i class="fa fa-check"></i>Your information request has been sent successfully</div>
			</div>
			<!-- end /.content -->
			<div class="footer"></div>
			<!-- end /.footer -->
		</form>
	</div>

	<img src="https://track.ziprecruiter.com/conversion?enc_account_id=0fc30330" width="1" height="1"/>
	<script src='https://jobs.thejobnetwork.com/Tracking/Ex/JobEndApply'></script>
	<!-- Beginning of Glassdoor Application Tracking Code -->
	<script>
		(function () {
			var tr = new Date().getTime();
			var iTag = document.createElement('img');
			var sys = '';
			var syscli = '';
			iTag.setAttribute('src', '//www.glassdoor.com/track/jobApply/complete.htm?partnerId=54627&sys=' + sys + '&syscli=' + syscli + '&cachebuster=' + tr);
			iTag.setAttribute('width', '1');
			iTag.setAttribute('height', '1');
			document.body.appendChild(iTag);
		})();
	</script>
	<noscript>
		<img src="//www.glassdoor.com/track/jobApply/complete.htm?partnerId=54627" width="1" height="1" border="0">
	</noscript>
	<!-- End of Glassdoor Application Tracking Code -->
	<img height=1 width=1 border=0 src="//conv.indeed.com/pagead/conv/5256144936763935/?script=0">
	<iframe src="https://www2.hirednurses.com/ifconv.php?feed_id=1137" style="display: none;" width="1px" height="1px"></iframe>
	<img src="//www.jobs2careers.com/conversion2.php?p=2081" width="1" height="1"/>
	<!--Jobs2Careers Application Traffic Optimizer. Place on thank you page after application submission.-->
	<script>document.write('<iframe src="//www.jobdiagnosis.com/pixel_featured.php?sponsored=hcen" id="myIframe" style="display:none;"></iframe>');</script>
	<iframe src="https://www.upward.net/search/u_convert.fsn?aid=OTI5OA%3D%3D" width="0" height="0"></iframe>
	{% if app.session.flashBag.has('searchString') %}
		{% set searchString = app.session.flashBag.get('searchString').0 %}
	{% endif %}
	{% if app.session.flashBag.has('location') %}
		{% set location = app.session.flashBag.get('location').0 %}
	{% endif %}
	<script type="text/javascript">
		$(document).ready(function () {
			setTimeout(function () {
				window.top.location.href = "http://jobsfornurses.com/jobs/";
			}, 10)
		});

	</script>

	{#?listing_type[equal]=Job&action=search{% if searchString is defined %}&keywords[all_words]={{ searchString }}{% endif %}{% if location is defined %}&GooglePlace[location][value]={{ location }}&GooglePlace[location][radius]=50{% endif %}#}

	<!-- Google Code for utm_source/more_info Conversion Page -->
	<script type="text/javascript">
		/ <![CDATA[ /
		var google_conversion_id = 974504362;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "mANxCI_W32QQqoPX0AM";
		var google_remarketing_only = false;
		/ ]]> /
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
	<noscript>
		<div style="display:inline;">
			<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/974504362/?label=mANxCI_W32QQqoPX0AM&amp;guid=ON&amp;script=0"/>
		</div>
	</noscript>
{% endblock %}
