{% extends "AppformFrontendBundle::base_form.html.twig" %}
{% block title %}Moreinfo Application Form{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('form/css/chosen.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('form/css/font-awesome.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('form/css/j-forms.css') }}">
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-640">
        <form method="post" class="j-forms j-multistep" id="j-forms" novalidate>
            <div class="header">
                <h1>More Information Request</h1>
                <h3>HCEN’s Client Network of Nationwide Staffing Agencies</h3>
            </div>
            <div class="content">
                <div class="success-message unit"><i class="fa fa-check"></i>Your information request has been sent
                    successfully
                </div>
            </div>
            <!-- end /.content -->
            <div class="footer"></div>
            <!-- end /.footer -->
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('form/js/jquery.1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('form/js/jquery.ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('form/js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('form/js/j-forms.js') }}"></script>
    <script type="text/javascript" src="{{ asset('form/js/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('form/js/jquery.maskedinput.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                window.top.location.href = "{{ redirectUrl }}";
            }, 100)
        });
    </script>

    <!-- Begin Nexxt.com conversion code -->
    <img src="https://p.nexxt.com/t?eaid=v7PHz9aUHFFd6VUzVhUjEw**" height="1" width="1" border="0" />
    <!-- End Nexxt.com conversion code -->

    <img src="//www.jobs2careers.com/conversion2.php?p=1950" width="1" height="1" />
    <img src="//www.jobs2careers.com/conversion2.php?p=2081" width="1" height="1"/>


    <img src="http://t.cmp.jobs/pixel.gif?glo_cid=XXYY" height="1" width="1" border="0">
    {# JobG8 #}
    <img src="https://www.jobg8.com/Conversion.aspx?id=k%2fmfRKumzD%2fE8HzBwewI7wa&t=cpa" height="1" width="1" border="0" />
    <img src="https://www.jobg8.com/Conversion.aspx?id=IogIefexqmlCfyuUtWTtTAa&t=cpa" height="1" width="1" border="0" />

    <img src="https://neuvoo.ca/pixel.gif?action=conversion+apply&amp;source=hcen-solutions-rn">
    <img src="https://neuvoo.ca/pixel.gif?action=conversion+apply&amp;source=hcen-solutions-allied">

    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/974504362/?label=mANxCI_W32QQqoPX0AM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
{% endblock %}