	{% form_theme form 'AppformFrontendBundle:Form:fields.html.twig' %}

	<div class="container">
		<div class="container-top">
		<!--STEPS FORM START ------------ -->
		<div class="stepsForm">
			<form action="{{ url('appform_frontend_widgetdata') }}" method="post" {{ form_enctype(form) }}>
				{{ form_errors(form) }}
				<div class="sf-steps">
					<div class="sf-steps-content">
						<div>
							<span>1</span> Profile
						</div>
					</div>
				</div>
				<div class="sf-steps-form sf-radius">

					<ul class="sf-content"> <!-- form step one -->
						<li>
							<div class="sf_columns column_3">
								{{ form_widget(form.firstName, {'attr': {'placeholder': 'First Name', 'data-required':'true'}}) }}
							</div>
							<div class="sf_columns column_3">
								{{ form_widget(form.middleName, {'attr': {'placeholder': 'Middle Name', 'data-required':'true'}}) }}
							</div>
						</li>
						<li>
							<div class="sf_columns column_3">
								{{ form_widget(form.lastName, {'attr': {'placeholder': 'Last Name', 'data-required':'true'}}) }}
							</div>
							<div class="sf_columns column_3">
								{{ form_widget(form.email, {'attr': {'placeholder': 'Email', 'data-required':'true', 'data-email':'true'}}) }}
							</div>
						</li>

						<li>
							<div class="sf_columns column_3">
								{{ form_widget(form.personalInformation.phone, {'attr': {'placeholder': 'Phone', 'data-required':'true', 'data-number':'true'}}) }}
							</div>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.state, {'attr': {'placeholder': 'State', 'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
						</li>

						<li>
							<div class="sf_columns column_3">
								<label class="sf-select">
								{{ form_widget(form.personalInformation.discipline, {'attr': {'placeholder': 'Discipline', 'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
							<div class="sf_columns column_3">
								<div class="label">Select License State(s)</div>
								{{ form_widget(form.personalInformation.licenseState, {'attr': {'class':'sf-check', 'placeholder': 'License State'}}) }}
							</div>
						</li>
						<li>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.specialtyPrimary, {'attr': {'placeholder': 'Primary Specialty', 'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
							<div class="sf_columns column_3">
								<label class="sf-select">
								{{ form_widget(form.personalInformation.yearsLicenceSp, {'attr': {'placeholder': 'Years experience primary specialty'}}) }}
									<span></span>
								</label>
							</div>
						</li>
						<li>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.specialtySecondary, {'attr': {'placeholder': 'Secondary Specialty', 'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
							<div class="sf_columns column_3">
								<label class="sf-select">
								{{ form_widget(form.personalInformation.yearsLicenceSs, {'attr': {'placeholder': 'Years experience secondary specialty'}}) }}
									<span></span>
								</label>
							</div>
						</li>

						<li>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.desiredAssignementState, {'attr': {'placeholder': 'Desired Assignment State(s)', 'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.assignementTime, {'attr': {'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
						</li>
						<li>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.isExperiencedTraveler, {'attr': {'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
							<div class="sf_columns column_3">
								<label class="sf-select">
								{{ form_widget(form.personalInformation.isOnAssignement, {'attr': {'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
						</li>
						<li>
							<div class="sf_columns column_3">
								{{ form_widget(form.personalInformation.question, {'attr': {'placeholder': 'Ask question about application', 'data-required':'true'}}) }}
							</div>
							<div class="sf_columns column_3">
								<div>Upload your resume file</div>
								{{ form_widget(form.document) }}
							</div>
						</li>
					</ul>
				</div>
				<div class="sf-steps-navigation sf-align-right">
					<span id="sf-msg" class="sf-msg-error"></span>
					<button id="sf-prev" type="button" class="sf-button">Previous</button>
					<button id="sf-next" type="button" class="sf-button">Next</button>
				</div>
			</form>
		</div>
			<!--STEPS FORM END -------------- -->
		</div></div>
	<script>

		$(document).ready(function(e) {

			$(".stepsForm").stepsForm({
				width			:'100%',
				active			:0,
				errormsg		:'Check faulty fields.',
				sendbtntext		:'Apply',
				posturl			:'{{ url('appform_frontend_widgetdata') }}',
				theme			:'default'
			});

			$(".container .themes>span").click(function(e) {
				$(".container .themes>span").removeClass("selectedx");
				$(this).addClass("selectedx");
				$(".stepsForm").removeClass().addClass("stepsForm");
				$(".stepsForm").addClass("sf-theme-"+$(this).attr("data-value"));
			});
		});

	</script>