	{% form_theme form 'AppformFrontendBundle:Form:fields.html.twig' %}

	<div class="container">
		<div class="container-top">
		<!--STEPS FORM START ------------ -->
		<div class="stepsForm">
			<form action="{{ url('appform_frontend_widgetdata') }}" method="post" {{ form_enctype(form) }}>
				{{ form_errors(form) }}
				<div class="sf-steps">
					<div class="sf-steps-content">
						<div>
							<span></span> Let HCEN know about you.
						</div>
					</div>
				</div>
				<div class="sf-steps-form sf-radius">
					<ul class="sf-content"> <!-- form step one -->
						<li>
							<div class="sf_columns column_3">
								{{ form_widget(form.firstName, {'attr': {'placeholder': 'First Name', 'data-required':'true'}}) }}
							</div>
							<div class="sf_columns column_3">
								{{ form_widget(form.lastName, {'attr': {'placeholder': 'Last Name', 'data-required':'true'}}) }}
							</div>
						</li>
						<li>
							<div class="sf_columns column_3">
								{{ form_widget(form.email, {'attr': {'placeholder': 'Email', 'data-required':'true', 'data-email':'true'}}) }}
							</div>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.state, {'attr': {'placeholder': 'State', 'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
						</li>

						<li>
							<div class="sf_columns column_3">
								{{ form_widget(form.personalInformation.phone, {'attr': {'placeholder': 'Phone', 'data-required':'true'}}) }}
							</div>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.isExperiencedTraveler, {'attr': {'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
						</li>

						<li>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.discipline, {'attr': {'placeholder': 'Discipline', 'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.licenseState, {'attr': {'class':'sf-check', 'placeholder': 'License State'}}) }}
									<span></span>
								</label>
							</div>
						</li>
						<li>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.specialtyPrimary, {'attr': {'placeholder': 'Primary Specialty', 'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
							<div class="sf_columns column_3">
								<label class="sf-select">
								{{ form_widget(form.personalInformation.yearsLicenceSp, {'attr': {'placeholder': 'Years experience primary specialty'}}) }}
									<span></span>
								</label>
							</div>
						</li>
						<li>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.specialtySecondary, {'attr': {'placeholder': 'Secondary Specialty', 'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
							<div class="sf_columns column_3">
								<label class="sf-select">
								{{ form_widget(form.personalInformation.yearsLicenceSs, {'attr': {'placeholder': 'Years experience secondary specialty'}}) }}
									<span></span>
								</label>
							</div>
						</li>
						<li>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.isOnAssignement, {'attr': {'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
							<div class="sf_columns column_3">
								{{ form_widget(form.personalInformation.completion,  {'attr': {'style':'display:none', 'placeholder': 'Completion date of assignment?'}}) }}
							</div>
						</li>
						<li>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.desiredAssignementState, {'attr': {'class' : 'sf-check'}}) }}
									<span></span>
								</label>
							</div>
							<div class="sf_columns column_3">
								<label class="sf-select">
									{{ form_widget(form.personalInformation.assignementTime, {'attr': {'data-required':'true'}}) }}
									<span></span>
								</label>
							</div>
						</li>
						<li>
							<div class="sf_columns column_3">
								{{ form_widget(form.personalInformation.question, {'attr': {'placeholder': 'Comments / Questions', 'data-required':'true'}}) }}
							</div>
							<div class="sf_columns column_3">
								<div>Upload your resume file</div>
								{{ form_widget(form.document) }}
							</div>
						</li>

						<li>
							<div class="sf_columns column_3" style="clear: both;"></div>
							<div class="sf_columns column_3">
								<div class="sf-steps-navigation sf-align-right">
									<img id="sf-loading" style="display:none;" src="{{ url('appform_frontend_homepage') }}/widget/ajax-loader.gif" alt=""/>
									<div id="sf-msg" class="sf-msg-error"></div>
									<div id="sf-success" class="sf-msg-success"></div>

									<button id="sf-prev" type="button" class="sf-button">Previous</button>
									<button id="sf-next" type="button" class="sf-button">Next</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</form>
		</div>
			<!--STEPS FORM END -------------- -->
		</div>

		<hr/>
		<div class="container-top">
			<div class="stepsForm">
				<div class="sf-steps-form sf-radius">
					<p>If you experience any problem with the form please don't hesitate to let us know the reason. Please use field below. </p>
					<form action="{{ url('appform_frontend_problem') }}" method="post" {{ form_enctype(form) }}>
						<div class="sf-steps-form sf-radius">
							<ul class="sf-content"> <!-- form step one -->
								<li>
									<div class="sf_columns column_3">
										<textarea name="reason" id="reason" cols="30" rows="10"></textarea>
									</div>
									<div class="sf_columns column_3">
										<button id="reasonSubmit" type="button" class="sf-button">Issue problem</button>
									</div>
								</li>
							</ul>
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
	<script>
		$(document).ready(function(e) {
			$('#appform_frontendbundle_applicant_personalInformation_licenseState').SumoSelect({placeholder: 'Choose License State'});
			$('#appform_frontendbundle_applicant_personalInformation_desiredAssignementState').SumoSelect({placeholder: 'Choose Desired Assignement State'});

			$( "#appform_frontendbundle_applicant_personalInformation_isOnAssignement" ).change(function() {
				if (this.value == '1') {
					$('#appform_frontendbundle_applicant_personalInformation_completion').show();
				} else {
					$('#appform_frontendbundle_applicant_personalInformation_completion').hide();
				}
			});

			$('#reasonSubmit').click(function () {
				$.ajax({
					type	: "POST",
					url		: settings.posturl,
					data	: formData,
					async: false,
					success: function (msg) {

					},
					cache: false,
					contentType: false,
					processData: false
				});
			});


			$(function () {
				$(".dateField").each(function () {
					$(this).attr("readonly", "readonly");
				});

				$('.dateField').datetimepicker({
					format: "Y-m-d",
					timepicker: false,
					datepicker: true
				});
			});

			jQuery(function($){
				$("#appform_frontendbundle_applicant_personalInformation_phone").mask("(999) 999-9999");
			});

			$(".stepsForm").stepsForm({
				width			:'100%',
				active			:0,
				errormsg		:'Check faulty fields.',
				sendbtntext		:'Submit information request',
				posturl			:'{{ url('appform_frontend_widgetdata') }}',
				theme			:'default'
			});

			$(".container .themes>span").click(function(e) {
				$(".container .themes>span").removeClass("selectedx");
				$(this).addClass("selectedx");
				$(".stepsForm").removeClass().addClass("stepsForm");
				$(".stepsForm").addClass("sf-theme-"+$(this).attr("data-value"));
			});
		});

	</script>