{% extends 'AppformBackendBundle:Base:admin_base.html.twig' %}
{% block title %}Users{% endblock %}

{% block content %}
	{% set direction = pagination.getDirection() %}
	<div class="page-title">
		<h2>
			<span class="fa fa-arrow-circle-o-left"></span>
			{% if counter is defined %}
				The result is {{ counter }} records in database
			{% endif %}
		</h2>
	</div>
	<div class="col-md-12">
		{% include 'AppformBackendBundle:Base:messages.html.twig' %}
	</div>
	<!-- PAGE CONTENT WRAPPER -->
	<div class="page-content-wrap">
		<!-- START WIDGETS -->
		<div class="row">
			{# TODO: Returned visitors #}
			<div class="col-md-3">
				<!-- START WIDGET REGISTRED -->
				<div class="widget widget-default widget-item-icon">
					<div class="widget-item-left">
						<span class="fa fa-user"></span>
					</div>
					<div class="widget-data">
						<div class="widget-int num-count">{{ thisMonthApplied }}</div>
						<div class="widget-title">This Month Visitors Applied</div>
						<div class="widget-subtitle"></div>
					</div>
					<div class="widget-controls">
						<a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
					</div>
				</div>
				<!-- END WIDGET REGISTRED -->
			</div>

			<div class="col-md-3">
				<!-- START WIDGET REGISTRED -->
				<div class="widget widget-default widget-item-icon">
					<div class="widget-item-left">
						<span class="fa fa-user"></span>
					</div>
					<div class="widget-data">
						<div class="widget-int num-count">{{ allVisitorsApplied }}</div>
						<div class="widget-title">All Visitors Applied</div>
						<div class="widget-subtitle"></div>
					</div>
					<div class="widget-controls">
						<a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
					</div>
				</div>
				<!-- END WIDGET REGISTRED -->
			</div>

			<div class="col-md-3">
				<!-- START WIDGET REGISTRED -->
				<div class="widget widget-default widget-item-icon">
					<div class="widget-item-left">
						<span class="fa fa-user"></span>
					</div>
					<div class="widget-data">
						<div class="widget-int num-count">{{ thisMonthVisitors }}</div>
						<div class="widget-title">This Month Visitors</div>
						<div class="widget-subtitle"></div>
					</div>
					<div class="widget-controls">
						<a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
					</div>
				</div>
				<!-- END WIDGET REGISTRED -->
			</div>

			<div class="col-md-3">
				<!-- START WIDGET REGISTRED -->
				<div class="widget widget-default widget-item-icon">
					<div class="widget-item-left">
						<span class="fa fa-user"></span>
					</div>
					<div class="widget-data">
						<div class="widget-int num-count">{{ pagination.totalItemCount }}</div>
						<div class="widget-title">All Visitors</div>
						<div class="widget-subtitle">Applied and not applied</div>
					</div>
					<div class="widget-controls">
						<a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
					</div>
				</div>
				<!-- END WIDGET REGISTRED -->
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				{% include 'AppformBackendBundle:Visitors:search_form.html.twig' %}
			</div>
			<div class="col-md-12">
				<div class="user-table">
					{% include 'AppformBackendBundle:Visitors:table.html.twig' %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function () {
			$(".user-table")
					.on("click", ".check-all-items", function () {
						$(".check-item").prop("checked", $(this).prop("checked"));
						$(".bulk-action-dropdown").prop("disabled", $(".check-item:checked").length == 0);
					})
					.on("change", ".check-item", function () {
						$(".bulk-action-dropdown").prop("disabled", $(".check-item:checked").length == 0);
					});

			$('#campaign-craete-button').click(function () {
				$('#user-bulk-form input[type="checkbox"]:checked').map(function () {
					$('#appform_backendbundle_campaign_applicant').val($(this).val());
				});
			});

			$('#table-craete-button').click(function () {
				$('#user-bulk-form input[type="checkbox"]:checked').map(function () {
					$('<input>').attr({
						type: 'hidden',
						name: 'applicants[]',
						value: $(this).val()
					}).appendTo('#table-bulk-create form');
				});
			});
		});

		function userBulkAction(action) {
			$("#user-bulk-form").find("input[name='action']").val(action);
			$("#user-bulk-form").submit();
		}

	</script>
{% endblock %}