{% import '@AppformBackend/Form/dialog.html.twig' as dialogs %}
{#<div class="btn-group">#}
	{#<button type="button" class="btn btn-success bulk-action-dropdown" data-toggle="dropdown" disabled="disabled">#}
		{#Choose an Action <span class="caret"></span>#}
	{#</button>#}
	{#<ul class="dropdown-menu" role="menu">#}
		{#<li><a data-toggle="modal" href="#user-delete-bulk">Delete</a></li>#}
		{#<li><a data-toggle="modal" href="#" onclick="userBulkAction('regenerate');">Regenerate</a></li>#}
		{#<li><a data-toggle="modal" id="table-craete-button" href="#table-bulk-create">Generate Report Table</a></li>#}
		{#<li><a data-toggle="modal" id="campaign-craete-button" href="#campaign-bulk-create">Create Campaign</a></li>#}
	{#</ul>#}
	{#{{ dialogs.confirm('user-delete-bulk', 'Confirmation', 'The selected Users will be removed permanently. Are you sure?', 'userBulkAction(\'delete\');', '') }}#}
	{#{{ dialogs.form('campaign-bulk-create', 'Create new campaign', campaignForm, path('campaign_create'), 'campaignBulkAction(\'campaign_create\');') }}#}
	{#{{ dialogs.form('table-bulk-create', 'Create new Table', tableForm, path('table_create')) }}#}
{#</div>#}


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Visitors List</h3>

		<div class="pull-right">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
	<div class="panel-body panel-body-table">
		<form method="post" action="{{ path('user_bulk_action') }}" id="user-bulk-form">
			<input type="hidden" name="action" value=""/>
			<table class="table table-bordered table-striped table-actions">
				<thead>
				<tr>
					<th>
						<input type="checkbox" class="check-all-items"/>
					</th>
					<th>Ip</th>
					<th>Referrer</th>
					<th>Referrer URL</th>
					<th>Last Activity</th>
				</tr>
				</thead>
				<tbody>
				{% for entity in pagination %}
					<tr>
						<td>
							<input type="checkbox" name="applicants[{{ entity.id }}]" value="{{ entity.id }}" class="check-item">
						</td>
						<td>{{ entity.ip }}</td>
						<td>{{ entity.referrer }}</td>
						<td style="word-break: break-all;">{{ entity.refUrl }}</td>
						<td>{{ entity.lastActivity|date('y/d/m h:s') }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</form>
	</div>
{{ knp_pagination_render(pagination, 'AppformBackendBundle:Base:paginator.html.twig') }}