{% extends 'AppformBackendBundle:Base:admin_base.html.twig' %}

{% block content -%}
    <div class="page-title">
        <h2>Rejection create</h2>
    </div>

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <!-- START WIDGETS -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Settings to Reject</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="col-md-6">
                            {{ form_row(form.name) }}
                            {{ form_row(form.vendor) }}
                            {{ form_row(form.vendorType) }}
                            {{ form_row(form.disciplinesList) }}
                            {{ form_row(form.specialtiesList) }}
                            {{ form_row(form.reject_message) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.disciplinesHide) }}
                            {{ form_row(form.specialtiesHide) }}
                        </div>
                        <div class="col-md-12 text-right">
                            {{ form_row(form.submit) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
