{% extends "AppformFrontendBundle::base_form.html.twig" %}
{% block title %}Moreinfo Success page{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('form/css/chosen.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('form/css/font-awesome.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('form/css/j-forms.css') }}">
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-640">
        <form method="post" class="j-forms j-multistep" id="j-forms" novalidate>
            <div class="header">
                <h1>More Information Request</h1>

                <h3>HCEN’s Client Network of Nationwide Staffing Agencies</h3>
            </div>
            <div class="content">
                <div class="success-message unit">
                    <i class="fa fa-check"></i>
                    Your information request has been sent successfully
                </div>
            </div>
            <!-- end /.content -->
            <div class="footer"></div>
            <!-- end /.footer -->
        </form>
    </div>

    <!-- Begin Nexxt.com conversion code -->
    <img src="https://p.nexxt.com/t?eaid=v7PHz9aUHFFd6VUzVhUjEw**" height="1" width="1" border="0" />
    <!-- End Nexxt.com conversion code -->

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('multiform/js/jquery.1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('multiform/js/jquery.ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('multiform/js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('multiform/js/jquery.form.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('multiform/js/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('multiform/js/jquery.maskedinput.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('multiform/js/j-forms.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                window.top.location.href = "http://jobsfornurses.com/";
            }, 10)
        });
    </script>

    <!-- Google Code for utm_source/more_info Conversion Page -->
    <script type="text/javascript">
        / <![CDATA[ /
        var google_conversion_id = 974504362;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "mANxCI_W32QQqoPX0AM";
        var google_remarketing_only = false;
        / ]]> /
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/974504362/?label=mANxCI_W32QQqoPX0AM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
{% endblock %}