{% extends 'AppformBackendBundle:Base:admin_base.html.twig' %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{ path('admin_dashboard') }}">Home</a></li>
        <li class="active"><a href="{{ path('agency') }}">Agencies</a></li>
    </ul>
{% endblock %}

{% block content -%}
    <div class="page-title">
        <h2>
            Agencies List
        </h2>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <!-- START WIDGETS -->
        <div class="row">
            <div class="col-md-12">

                <table class="table table-responsive">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ entity.name }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ entity.email }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ entity.description }}</td>
                    </tr>
                    <tr>
                        <th>Active</th>
                        <td>{% if entity.active %}Active{% else %}Not Active{% endif %}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="col-md-6">
                    <a class="btn btn-success" href="{{ path('agency_edit', { 'id': entity.id }) }}">
                        Edit
                    </a>
                </div>
                <div class="col-md-6">
                    {{ form(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}

