{% extends "@AppformBackend/Base/admin_base.html.twig" %}

{% block content %}
<div class="page-title">
	<h2>Dashboard</h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
	<!-- START WIDGETS -->
	<div class="row">
		<div class="col-md-3">
			<!-- START WIDGET SLIDER -->
			<div class="widget widget-default widget-carousel">
				<div class="owl-carousel" id="owl-example">
					<div>
						<div class="widget-title">Total Applicants</div>
						<div class="widget-int">{{ totalApplicants }}</div>
					</div>
					<div>
						<div class="widget-title">This Month</div>
						<div class="widget-int">{{ monthResult }}</div>
					</div>
					<div>
						<div class="widget-title">Today's New</div>
						<div class="widget-int">{{ todayResult }}</div>
					</div>
				</div>
				<div class="widget-controls">
					<a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
				</div>
			</div>
			<!-- END WIDGET SLIDER -->
		</div>

		<div class="col-md-3">
			<!-- START WIDGET REGISTRED -->
			<div class="widget widget-default widget-item-icon">
				<div class="widget-item-left">
					<span class="fa fa-user"></span>
				</div>
				<div class="widget-data">
					<div class="widget-int num-count">{{ thisMonthVisitors }}</div>
					<div class="widget-title">This Month Visitors</div>
				</div>
				<div class="widget-controls">
					<a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
				</div>
			</div>
			<!-- END WIDGET REGISTRED -->
		</div>

		<div class="col-md-3">
			<!-- START WIDGET CLOCK -->
			<div class="widget widget-info widget-padding-sm">
				<div class="widget-big-int plugin-clock">00:00</div>
				<div class="widget-subtitle plugin-date">Loading...</div>
				<div class="widget-controls">
					<a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left" title="Remove Widget"><span class="fa fa-times"></span></a>
				</div>
			</div>
			<!-- END WIDGET CLOCK -->

		</div>
	</div>
	<!-- END WIDGETS -->
</div>
<!-- END PAGE CONTENT WRAPPER -->
{% endblock %}

{% block scripts %}
	{{ parent() }}
{% endblock %}