{% extends 'AppformBackendBundle:Base:admin_base.html.twig' %}
{% block title %}
    {% trans %}Settings{% endtrans %}
{% endblock %}

{% block content -%}
    <div class="page-title">
        <h2>Settings</h2>
    </div>

    <div class="page-content-wrap">
        <!-- START WIDGETS -->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Main settings</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            {{ form_errors(form.webSite) }}
                            {{ form_widget(form.webSite) }}
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
