{% extends 'AppformBackendBundle:Base:admin_base.html.twig' %}
{% block title %}
	{% trans %}Settings{% endtrans %}
{% endblock %}
{% block content -%}
	<div class="col-md-6">
		<!-- START VERTICAL TABS -->
		<div class="panel panel-default tabs">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#main" data-toggle="tab">Main settings</a></li>
				<li><a href="#tab23" data-toggle="tab">Second</a></li>
				<li><a href="#tab24" data-toggle="tab">Third</a></li>
			</ul>
			<div class="panel-body tab-content">
				<div class="tab-pane active" id="main">
					<div class="col-md-12">
						{{ form_start(form) }}
						{{ form_errors(form) }}
						{{ form_errors(form.webSite) }}
						{{ form_widget(form.webSite) }}
						{{ form_rest(form) }}
						{{ form_end(form) }}
					</div>
				</div>
				<div class="tab-pane" id="tab23">
					Place for other settings
				</div>
				<div class="tab-pane" id="tab24">
					Place for other settings
				</div>
			</div>
		</div>
		<!-- END VERTICAL TABS -->
	</div>

{% endblock %}
