{% form_theme form 'AppformFrontendBundle:Form:fields.html.twig' %}
{% extends '@AppformBackend/admin_base.html.twig' %}

{% block content %}

<section class="content">
<div class="row">
	<div class="col-sm-12">
<div class="row">
	<div class="col-sm-12">
		<div class="box">
			<div class="box-header">
			</div>
			<div class="box-body">
							<div class="box box-info" style="display:none;">
				<div class="box-header">
					<h3 class="box-title">Processing...</h3>
				</div>
				<!-- Loading (remove the following to stop the loading)-->
				<div class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
				<!-- end loading -->
			</div>

			<div class="row">
				<div class="col-sm-6">
				<div class="box box-warning box-solid collapsed-box">
				<div class="box-header with-border">
					<h3 class="box-title">Filter users</h3>
					<div class="box-tools pull-right">
						<button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-plus"></i></button>
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body" style="display: none;">
					<form action="{{ path('appform_backend_users') }}" method="post">
						<input type="hidden" name="filter" value="1"/>
						<div class="form-group">
							{{ form_widget(form.discipline) }}
						</div>
						<div class="form-group">
							{{ form_widget(form.state) }}
						</div>
						<div class="form-group">
							{{ form_widget(form.specialtyPrimary) }}
						</div>
						<div class="form-group">
							{{ form_widget(form.isExperiencedTraveler) }}
						</div>
						<div class="form-group">
							{{ form_widget(form.isOnAssignement) }}
						</div>
						<div class="form-group">
							{{ form_widget(form.hasResume) }}
						</div>
						<div class="form-group">
							<label>Date range:</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar"></i>
								</div>
								<input type="text" id="reservation" name='appform_frontendbundle_search[range]' class="form-control pull-right active">
							</div>
							<!-- /.input group -->
						</div>
						<div class="form-group">
							<button class="btn btn-sm btn-default">Filter</button>
						</div>
					</form>
				</div>
				<!-- /.box-body -->
			</div>
</div>
</div>
			<div class="mailbox-controls" style="padding-left: 8px">
				<div class="btn-group">
					<button class="btn btn-primary btn-sm send-message-from-checkbox">Send Message</button>
				</div>
				<div class="btn-group">
					<button class="btn btn-danger btn-sm remove-users-from-checkbox">Remove Users</button>
				</div>
				<!-- /.btn-group -->
				<div class="btn-group">
					<button class="btn btn-warning btn-sm create-report-from-checkbox">Create Report</button>
				</div>
				<!-- /.btn-group -->
				<div id="dwlxls" class="btn-group">
				</div>
				<!-- /.btn-group -->
			</div>
			{% set direction = pagination.getDirection() %}
			<table id="usersList" class="table table-striped">
				<thead>
				<tr>
					<th>
						<button class="btn btn-default btn-sm checkbox-toggle">
							<i class="fa fa-square-o">
							</i>
						</button>
					</th>
					<th{% if pagination.isSorted('id') %} class="sorted {{ direction }}"{% endif %}>
						{{ knp_pagination_sortable(pagination, 'Id', 'id') }}
					</th>
					<th{% if pagination.isSorted('candidateId') %} class="sorted {{ direction }}"{% endif %}>
						{{ knp_pagination_sortable(pagination, 'Candidate Id', 'candidateId') }}
					</th>
					<th{% if pagination.isSorted('firstName') %} class="sorted {{ direction }}"{% endif %}>
						{{ knp_pagination_sortable(pagination, 'First Name', 'firstName') }}
					</th>
					<th{% if pagination.isSorted('lastName') %} class="sorted {{ direction }}"{% endif %}>
						{{ knp_pagination_sortable(pagination, 'Last Name', 'lastName') }}
					</th>
					<th{% if pagination.isSorted('email') %} class="sorted {{ direction }}"{% endif %}>
						{{ knp_pagination_sortable(pagination, 'E-Mail', 'email') }}
					</th>
					<th>Discipline</th>
					<th>Primary Specialty</th>
					<th>Download</th>
					<th>Date of Apply</th>
				</tr>
				</thead>
				<tbody>
				{% for applicant in pagination %}
		<tr>
			<td>
				{% if applicant.personalInformation.isOnAssignement %}
					<small class="label pull-right bg-red">busy</small>
				{% else %}
					<small class="label pull-right bg-green">avaialble</small>
				{% endif %}
				<input type="checkbox" id="{{ applicant.id }}" class="mailbox-messages"/>
			</td>
			<td>
				<a href="{{ path('appform_backend_user_edit', {'id': applicant.id }) }}">{{ applicant.Id }}</a>
			</td>
			<td><a href="{{ path('appform_backend_user_edit', {'id': applicant.id }) }}">{{ applicant.candidateId }}</a></td>
			<td><a href="{{ path('appform_backend_user_edit', {'id': applicant.id }) }}">{{ applicant.firstName }}</a></td>
			<td>{{ applicant.lastName }}</td>
			<td>{{ applicant.email }}</td>
			<td>{{ helper.getDiscipline(applicant.personalInformation.discipline) }}</td>
			<td>{{ helper.getSpecialty(applicant.personalInformation.specialtyPrimary) }}</td>
			<td>
				{% if applicant.document %}
					{% if applicant.document.xls is defined  and applicant.document.xls != "" %}
						<a href="{{ path('appform_frontend_homepage' }}/resume/{'url': applicant.document.xls|replace({'/home/hctcom/public_html/moreinfo-app/src/Appform/FrontendBundle/Entity/../../../../web/resume/' : ''}) })}"><i class="fa fa-4 fa-file-excel-o bg-green-active"></i></a>
					{% endif %}
					{% if applicant.document.pdf is defined  and applicant.document.pdf != "" %}
						<a href="{{ path('appform_frontend_homepage' }}/{'url': applicant.document.pdf|replace({'/home/hctcom/public_html/moreinfo-app/src/Appform/FrontendBundle/Entity/../../../../web/resume/' : ''}) })}"><i
									class="fa fa-4 fa-file-pdf-o bg-red-gradient"></i></a>
					{% endif %}
					{% if applicant.document.path is defined and applicant.document.path != "" %}
						<a href="{{ path('appform_frontend_homepage' }}/resume/{'url': applicant.document.path|replace({'/home/hctcom/public_html/moreinfo-app/src/Appform/FrontendBundle/Entity/../../../../web/resume/' : ''}) })}"><i class="fa fa-4 fa-file-word-o bg-blue"></i></a>
					{% endif %}

				{% endif %}
			</td>
			<td>
				{{ applicant.created|date('Y-m-d') }}
			</td>
		</tr>
	{% endfor %}
				</tbody>
			</table>
	</div>
		</div>
	</div>
</div>


	</div>
</div>

<div class="daterangepicker dropdown-menu show-calendar opensleft" style="top: 218.9px; right: 25px; left: auto; display: none  ;">
			<div class="calendar first left">
				<div class="calendar-date">
					<table class="table-condensed">
						<thead>
						<tr>
							<th class="prev available"><i class="fa fa-arrow-left icon icon-arrow-left glyphicon glyphicon-arrow-left"></i></th>
							<th class="month" colspan="5">Jun 2015</th>
							<th class="next available"><i class="fa fa-arrow-right icon icon-arrow-right glyphicon glyphicon-arrow-right"></i></th>
						</tr>
						<tr>
							<th>Su</th>
							<th>Mo</th>
							<th>Tu</th>
							<th>We</th>
							<th>Th</th>
							<th>Fr</th>
							<th>Sa</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td data-title="r0c0" class="available off">31</td>
							<td data-title="r0c1" class="available">1</td>
							<td data-title="r0c2" class="available">2</td>
							<td data-title="r0c3" class="available active start-date">3</td>
							<td data-title="r0c4" class="available in-range">4</td>
							<td data-title="r0c5" class="available in-range">5</td>
							<td data-title="r0c6" class="available in-range">6</td>
						</tr>
						<tr>
							<td data-title="r1c0" class="available in-range">7</td>
							<td data-title="r1c1" class="available in-range">8</td>
							<td data-title="r1c2" class="available in-range">9</td>
							<td data-title="r1c3" class="available in-range">10</td>
							<td data-title="r1c4" class="available in-range">11</td>
							<td data-title="r1c5" class="available in-range">12</td>
							<td data-title="r1c6" class="available in-range">13</td>
						</tr>
						<tr>
							<td data-title="r2c0" class="available in-range">14</td>
							<td data-title="r2c1" class="available in-range">15</td>
							<td data-title="r2c2" class="available in-range">16</td>
							<td data-title="r2c3" class="available in-range">17</td>
							<td data-title="r2c4" class="available in-range">18</td>
							<td data-title="r2c5" class="available in-range">19</td>
							<td data-title="r2c6" class="available in-range">20</td>
						</tr>
						<tr>
							<td data-title="r3c0" class="available in-range">21</td>
							<td data-title="r3c1" class="available in-range">22</td>
							<td data-title="r3c2" class="available in-range">23</td>
							<td data-title="r3c3" class="available in-range">24</td>
							<td data-title="r3c4" class="available in-range">25</td>
							<td data-title="r3c5" class="available in-range">26</td>
							<td data-title="r3c6" class="available">27</td>
						</tr>
						<tr>
							<td data-title="r4c0" class="available">28</td>
							<td data-title="r4c1" class="available">29</td>
							<td data-title="r4c2" class="available">30</td>
							<td data-title="r4c3" class="available off">1</td>
							<td data-title="r4c4" class="available off">2</td>
							<td data-title="r4c5" class="available off">3</td>
							<td data-title="r4c6" class="available off">4</td>
						</tr>
						<tr>
							<td data-title="r5c0" class="available off">5</td>
							<td data-title="r5c1" class="available off">6</td>
							<td data-title="r5c2" class="available off">7</td>
							<td data-title="r5c3" class="available off">8</td>
							<td data-title="r5c4" class="available off">9</td>
							<td data-title="r5c5" class="available off">10</td>
							<td data-title="r5c6" class="available off">11</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="calendar second right">
				<div class="calendar-date">
					<table class="table-condensed">
						<thead>
						<tr>
							<th></th>
							<th class="month" colspan="5">Jun 2015</th>
							<th class="next available"><i class="fa fa-arrow-right icon icon-arrow-right glyphicon glyphicon-arrow-right"></i></th>
						</tr>
						<tr>
							<th>Su</th>
							<th>Mo</th>
							<th>Tu</th>
							<th>We</th>
							<th>Th</th>
							<th>Fr</th>
							<th>Sa</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td data-title="r0c0" class="off disabled">31</td>
							<td data-title="r0c1" class="off disabled">1</td>
							<td data-title="r0c2" class="off disabled">2</td>
							<td data-title="r0c3" class="available in-range">3</td>
							<td data-title="r0c4" class="available in-range">4</td>
							<td data-title="r0c5" class="available in-range">5</td>
							<td data-title="r0c6" class="available in-range">6</td>
						</tr>
						<tr>
							<td data-title="r1c0" class="available in-range">7</td>
							<td data-title="r1c1" class="available in-range">8</td>
							<td data-title="r1c2" class="available in-range">9</td>
							<td data-title="r1c3" class="available in-range">10</td>
							<td data-title="r1c4" class="available in-range">11</td>
							<td data-title="r1c5" class="available in-range">12</td>
							<td data-title="r1c6" class="available in-range">13</td>
						</tr>
						<tr>
							<td data-title="r2c0" class="available in-range">14</td>
							<td data-title="r2c1" class="available in-range">15</td>
							<td data-title="r2c2" class="available in-range">16</td>
							<td data-title="r2c3" class="available in-range">17</td>
							<td data-title="r2c4" class="available in-range">18</td>
							<td data-title="r2c5" class="available in-range">19</td>
							<td data-title="r2c6" class="available in-range">20</td>
						</tr>
						<tr>
							<td data-title="r3c0" class="available in-range">21</td>
							<td data-title="r3c1" class="available in-range">22</td>
							<td data-title="r3c2" class="available in-range">23</td>
							<td data-title="r3c3" class="available in-range">24</td>
							<td data-title="r3c4" class="available in-range">25</td>
							<td data-title="r3c5" class="available active end-date">26</td>
							<td data-title="r3c6" class="available">27</td>
						</tr>
						<tr>
							<td data-title="r4c0" class="available">28</td>
							<td data-title="r4c1" class="available">29</td>
							<td data-title="r4c2" class="available">30</td>
							<td data-title="r4c3" class="available off">1</td>
							<td data-title="r4c4" class="available off">2</td>
							<td data-title="r4c5" class="available off">3</td>
							<td data-title="r4c6" class="available off">4</td>
						</tr>
						<tr>
							<td data-title="r5c0" class="available off">5</td>
							<td data-title="r5c1" class="available off">6</td>
							<td data-title="r5c2" class="available off">7</td>
							<td data-title="r5c3" class="available off">8</td>
							<td data-title="r5c4" class="available off">9</td>
							<td data-title="r5c5" class="available off">10</td>
							<td data-title="r5c6" class="available off">11</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="ranges">
				<div class="range_inputs">
					<div class="daterangepicker_start_input"><label for="daterangepicker_start">From</label><input type="text" value="" name="daterangepicker_start"
					                                                                                               class="input-mini"></div>
					<div class="daterangepicker_end_input"><label for="daterangepicker_end">To</label><input type="text" value="" name="daterangepicker_end" class="input-mini">
					</div>
					<button class="applyBtn btn btn-small btn-sm btn-success">Apply</button>
					&nbsp;
					<button class="cancelBtn btn btn-small btn-sm btn-default">Cancel</button>
				</div>
			</div>
		</div>
		{{ knp_pagination_render(pagination, 'AppformBackendBundle:Pagination:paginate.html.twig') }}

</section>

	</section><!-- /.content -->
{% endblock %}