{% extends 'EcommerceBundle:Admin:base.html.twig' %}

{% block body -%}
    <h1>{{ pageHeader|trans }}</h1>

    {% import 'EcommerceBundle:Admin:helper.html.twig' as helper %}
    {% include 'EcommerceBundle:Admin:messages.html.twig' %}

    <ul class="breadcrumb">
        <li>
            <a href="{{ path('category') }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li class="active">
            {{ pageName|trans }}
        </li>
    </ul>

    {{ form_errors(form) }}

    <form id="category-form" action="{{ action }}" method="post" {{ form_enctype(form) }} class="form-horizontal" role="form">
{{ form_widget(form) }}
        <button type="button" class="btn btn-default" onclick="javascript: location.href='{{ path('user_list') }}'">{% trans %}Cancel{% endtrans %}</button>

    </form>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function generateCategoryUrl(categoryName) {
            categoryName = categoryName.trim().replace(/ /g, "-");
            var url = "/" + categoryName.replace(/[^\w-]*/g, "").toLowerCase();
            url = url.replace(/-+/g, "-");

            if (url == "/" || url == "/-") {
                return "";
            }
            return url;
        }

        $(document).ready(function() {
            var categoryNameInput = $("#keensteps_Ecommercebundle_categorytype_name");
            var categoryUrlInput = $("#keensteps_Ecommercebundle_categorytype_url");
            var isGenerateCategoryUrl = generateCategoryUrl(categoryNameInput.val()) == categoryUrlInput.val();
            if (isGenerateCategoryUrl) {
                categoryNameInput.change(function() {
                    categoryUrlInput.val(generateCategoryUrl($(this).val()));
                });
            }

            $("#category-form").submit(function() {
                var url = $.trim(categoryUrlInput.val());
                url = url
                        .toLowerCase()
                        .replace(/^\/*(.*)/g, "/$1");
                if (url == "/") {
                    url = "";
                }
                categoryUrlInput.val(url);
            });
        });
    </script>
{% endblock %}