{% import 'EcommerceBundle:Form:dialog.html.twig' as dialogs %}
<form method="post" action="{{ path('category_bulk_action') }}" id="categories-bulk-form">
    {{ form_widget(bulk_action_form._token) }}
    <input type="hidden" name="action" value="" />
    <input type="hidden" id="collapseRows" value="{{ app.session.get('collapseRows')|json_encode }}" />

    <div class="btn-group">
        <button type="button" class="btn btn-default bulk-action-dropdown" data-toggle="dropdown" disabled="disabled">
            {% trans %}Choose an Action{% endtrans %} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a data-toggle="modal" href="#category-delete-bulk">{% trans %}Delete{% endtrans %}</a></li>
            <li><a data-toggle="modal" href="#" onclick="categoriesBulkAction('enable');">{% trans %}Activate{% endtrans %}</a></li>
            <li><a data-toggle="modal" href="#" onclick="categoriesBulkAction('disable');">{% trans %}Disable{% endtrans %}</a></li>
        </ul>
        {{ dialogs.confirm('category-delete-bulk', 'Confirmation', 'The selected categories and their subcategories will be removed permanently. Are you sure?', 'categoriesBulkAction(\'delete\');', '') }}
        <a href="{{ path('category_new') }}" class="btn btn-default">
            {% trans %}Add New Category{% endtrans %}
        </a>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th><input type="checkbox" class="check-all-items" /></th>
            <th><span class="expand-collapse-all" title="{% trans %}Expand/Collapse Categories{% endtrans %}">[+-]</span></th>
            <th class="col-lg-6">{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Products{% endtrans %}</th>
            <th>{% trans %}Status{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody class="sortable-category">
        {% macro category_row(entity, repository) %}
            {% import 'EcommerceBundle:Form:dialog.html.twig' as dialogs %}
            <tr id="{{ entity.id }}" class="{% if entity.status == 0 %} disabled{% endif %} {% if entity.parent %}row-{{ entity.parent.id }}{% endif %}">
                <td>
                    <input type="checkbox" class="check-item" name="categories[{{ entity.id }}]" />
                    <input type="hidden" class="sort-position" name="categories_positions[{{ entity.id }}]" value="{{ entity.position }}" />
                    <input type="hidden" class="parent" name="categories_parents[{{ entity.id }}]" value="{% if entity.parent %}{{ entity.parent.id }}{% endif %}" />
                </td>
                <td>
                    <span class="glyphicon glyphicon-th-list sortable-handle"></span>
                    {% if repository.childCount(entity) %}
                        <span class="glyphicon glyphicon-minus expandable-row"><input type="hidden" value="{{ entity.id }}" /></span>
                    {% endif %}
                </td>
                <td>
                    {% if entity.getLevel > 1 %}
                        {% for i in 3..entity.getLevel if entity.getLevel > 2 %}<span style="margin-left: 16px;"></span>{% endfor %}
                        <span class="bigcommerceicon glyphicon-row-child"></span>
                    {% endif %}
                    <a href="{{ path('category_edit', { 'id': entity.id }) }}">{{ entity.name|trans }}</a>
                </td>
                <td><span class="badge">{{ entity.products|length }}</span></td>
                <td>
                    {% if entity.status %}
                        <span class="label label-success">{% trans %}Active{% endtrans %}</span>
                    {% else %}
                        <span class="label label-default">{% trans %}Disabled{% endtrans %}</span>
                    {% endif %}
                </td>
                <td>
                    <a data-toggle="modal" href="#category-delete-{{ entity.id }}" class="btn btn-xs btn-danger">{% trans %}Delete{% endtrans %}</a>
                    <a href="{{ path('category_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-primary">{% trans %}Edit{% endtrans %}</a>
                    {{ dialogs.confirm('category-delete-' ~ entity.id, 'Confirmation', 'The selected category and it\'s subcategories will be removed permanently. Are you sure?', '', path('category_delete', { 'id': entity.id, 'token': csrf_token('delete-category') })) }}
                    {% if entity.status %}
                        <a class="btn btn-xs btn-primary" href="{{ path('category_change_status', { 'id': entity.id, 'status': 0 }) }}">{% trans %}Disable{% endtrans %}</a>
                    {% else %}
                        <a class="btn btn-xs btn-primary" href="{{ path('category_change_status', { 'id': entity.id, 'status': 1 }) }}">{% trans %}Activate{% endtrans %}</a>
                    {% endif %}
                    <a href="{{ path('category_new', {'parent': entity.id}) }}" class="btn btn-xs btn-primary">{% trans %}Add Sub Category{% endtrans %}</a>
                </td>
            </tr>
            {% for subEntity in repository.getChildren(entity, true, "position") %}
                {{ _self.category_row(subEntity, repository) }}
            {% endfor %}
        {% endmacro %}
        {% for entity in entities %}
            {{ _self.category_row(entity, repository) }}
        {% endfor %}
        </tbody>
    </table>
</form>