{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Campaign list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Publishat</th>
                <th>Publishdate</th>
                <th>Ispublished</th>
                <th>Agency Group</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('campaign_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.subject }}</td>
                <td>{{ entity.message }}</td>
                <td>{% if entity.publishat %}{{ entity.publishat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.publishdate %}{{ entity.publishdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.ispublished }}</td>
                <td>{{ entity.agencygroup }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('campaign_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('campaign_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('campaign_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
