{% extends 'AppformBackendBundle:Base:admin_base.html.twig' %}

{% block content -%}
	<div class="page-title">
		<h2><span class="fa fa-arrow-circle-o-left"></span>Campaign creation</h2>
	</div>
	<a class="btn btn-success pull-right" href="{{ path('campaign') }}">
		Back to the list
	</a>
	<!-- PAGE CONTENT WRAPPER -->
	<div class="page-content-wrap">
		<!-- START WIDGETS -->
		<div class="row">
			<div class="col-md-6">
				{{ form_start(form) }}
				{{ form_errors(form) }}

				{{ form_row(form.name) }}
				{{ form_row(form.subject) }}
				{{ form_row(form.publishat) }}

				{{ form_label(form.applicants) }}
				<div class="control-group" id="fields">
					<div class="controls" id="profs">
							<button id="b1" class="btn btn-warning add-more" type="button"><i class="fa fa-plus"></i></button>
							<div id="field">
									<input type="text" id="field1" name="appform_backendbundle_campaign[applicants][]" required="required" class="form-control">
							</div>
					</div>
				</div>
				{{ form_row(form.agencygroup) }}
				{{ form_row(form.submit) }}
			</div>
		</div>
	</div>


{% endblock %}

{% block scripts %}
	{{ parent() }}

	<script>
		$(document).ready(function(){
			var next = 1;
			$(".add-more").click(function(e){
				e.preventDefault();
				var addto = "#field" + next;
				var addRemove = "#field" + (next);
				next = next + 1;
				var newIn = '<input class="input form-control" id="field' + next + '" name="appform_backendbundle_campaign[applicants][]" type="text">';
				var newInput = $(newIn);
				var removeBtn = '<div class="input-group-btn"><button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" ><i class="fa fa-minus"></i></button></div>';
				var removeButton = $(removeBtn);
				$(addto).after(newInput);
				$(addRemove).after(removeButton);
				$("#field" + next).attr('data-source',$(addto).attr('data-source'));
				$("#count").val(next);

				$('.remove-me').click(function(e){
					e.preventDefault();
					var fieldNum = this.id.charAt(this.id.length-1);
					var fieldID = "#field" + fieldNum;
					$(this).remove();
					$(fieldID).remove();
				});
			});
		});
	</script>
{% endblock %}