{% extends 'AppformBackendBundle:Base:admin_base.html.twig' %}

{% block content -%}
	<div class="page-title">
		<h2><span class="fa fa-arrow-circle-o-left"></span>Campaign creation</h2>
	</div>
	<a class="btn btn-success pull-right" href="{{ path('campaign') }}">
		Back to the list
	</a>
	<!-- PAGE CONTENT WRAPPER -->
	<div class="page-content-wrap">
		<!-- START WIDGETS -->
		<div class="row">
			<div class="col-md-6">
				{{ form_start(form) }}
				{{ form_errors(form) }}
				{{ form_row(form.name) }}
				{{ form_row(form.subject) }}
				{{ form_row(form.publishat) }}
				{{ form_label(form.applicant) }}
				{{ form_row(form.agencygroup) }}
				{{ form_row(form.submit) }}
			</div>
		</div>
	</div>


{% endblock %}

{% block scripts %}
	{{ parent() }}
{% endblock %}