<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>HCEN Admin - {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" href="http://healthcaretravelers.com/favicon.ico" type="image/x-icon"/>
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset( 'admin/css/theme-default.css' ) }}"/>
    {% endblock %}
    <!-- EOF CSS INCLUDE -->
</head>
<body>
<!-- START PAGE CONTAINER -->
<div class="page-container">
    <!-- START PAGE SIDEBAR -->
    {% include 'AppformBackendBundle:Default:sidebar.html.twig' %}
    <!-- END PAGE SIDEBAR -->

    <!-- PAGE CONTENT -->
    <div class="page-content">
        <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
            <!-- TOGGLE NAVIGATION -->
            <li class="xn-icon-button">
                <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
            </li>
            <!-- END TOGGLE NAVIGATION -->
            <!-- SIGN OUT -->
            <li class="xn-icon-button pull-right">
                <a href="{{ path('logout') }}" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
            </li>
            <!-- END SIGN OUT -->
        </ul>

        <!-- START BREADCRUMB -->
        {% block breadcrumbs %}{% endblock %}
        <!-- END BREADCRUMB -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    {% for message in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}

                    {% for message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include 'AppformBackendBundle:Base:messages.html.twig' %}

        {% block content %}{% endblock %}
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>
                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MESSAGE BOX-->

<!-- EOF CSS INCLUDE -->
<!-- START PRELOADS -->
<audio id="audio-alert" src="{{ asset( 'admin/audio/alert.mp3' ) }}" preload="auto"></audio>
<audio id="audio-fail" src="{{ asset( 'admin/audio/fail.mp3' ) }}" preload="auto"></audio>
<!-- END PRELOADS -->

<!-- START BASE PLUGINS -->
<script type="text/javascript" src="{{ asset( 'admin/js/plugins/jquery/jquery.min.js' ) }}"></script>
<script type="text/javascript" src="{{ asset( 'admin/js/plugins/jquery/jquery-ui.min.js' ) }}"></script>
<script type="text/javascript" src="{{ asset( 'admin/js/plugins/bootstrap/bootstrap.min.js' ) }}"></script>
<!-- END BASE PLUGINS -->

{% block scripts %}
    <!-- START THIS PAGE PLUGINS-->
    <script type='text/javascript' src='{{ asset( 'admin/js/plugins/icheck/icheck.min.js' ) }}'></script>
    <script type='text/javascript' src='{{ asset( 'admin/js/plugins/bootstrap/bootstrap-datepicker.js' ) }}'></script>
    <script type='text/javascript' src='{{ asset( 'admin/js/plugins/bootstrap/bootstrap-select.js' ) }}'></script>
    <script type="text/javascript" src="{{ asset( 'admin/js/plugins/owl/owl.carousel.min.js' ) }}"></script>
    <script type="text/javascript" src="{{ asset( 'admin/js/plugins/daterangepicker/daterangepicker.js' ) }}"></script>
    <script type="text/javascript" src="{{ asset( 'admin/js/plugins/summernote/summernote.js' ) }}"></script>
    <script type="text/javascript" src="{{ asset( 'admin/js/plugins/tagsinput/jquery.tagsinput.min.js' ) }}"></script>
    <!-- END THIS PAGE PLUGINS-->
    <!-- END SCRIPTS -->
{% endblock %}

<!-- START TEMPLATE -->
<script type="text/javascript" src="{{ asset( 'admin/js/plugins.js' ) }}"></script>
<script type="text/javascript" src="{{ asset( 'admin/js/actions.js' ) }}"></script>
<!-- END TEMPLATE -->
</body>
</html>